[2017-02-28 03:23] axk4545 opened #2 "Determine ownership of project copyright"
Is the copyright held by an individual or the club? If it is an individual, who is it?

[2017-02-28 03:24] abkahrs opened #3 "Implement testing of builds"
Implement testing of builds. Fedora contributor Ben Williams suggested openqa

[2017-02-28 03:25] axk4545 opened #4 "Packages to include in distro"
What packages would be useful to the RIT community (students, new Linux users, professors,etc) and should be included in our distribution?
below are some suggestions I have. Currently I am envisioning that the base image will include very few packages and we will specify what to add.
- Base: wget, libreoffice, thunderbird, gimp, inkscape, rhythmbox, htop, vim, zsh, nano, wine, hexchat, lynx, evinc

[2017-02-28 15:42] axk4545 opened #5 "how do we want to do provisioning/setup?"
We have a few options:
1. Fedora custom iso generated with kickstart(current state)
    * Allows custom iso so any configs and changes can be included in image, minimal work for user. essentially a remaster
2. Ubuntu minimal iso and kickstart based install
    * slightly less flexible. cannot embed customizations in image, maybe limited as kickstart is the RedHat autoinstall method
3. Ubuntu minim

[2017-02-28 15:43] abkahrs commented on #5
Originally written by @jflory7
Hi! Wanting to weigh in on this…

# Choosing a distro

I was unaware of the technical differences between creating a RIT Linux Remix, but it seems that Fedora has the easier tooling to provision and create a distribution we can easily package and offer to users without putting too much work onto them. However, the case I wanted to make for Fedora is that I want to he

[2017-02-28 15:43] abkahrs commented on #5
@serubin mentioning you here so you are in the loop

[2017-02-28 15:44] abkahrs commented on #5
also a possibility to use the approach of a shell script or a deb package to do all the tasks

[2017-02-28 15:44] abkahrs commented on #5
Current plan:
- Fedora spin using kickstart
- see https://etherpad.gnome.org/p/rit-remix-discussion for customizations
- branding considerations: https://fedoraproject.org/wiki/Remix#Can_a_Fedora_Remix_have_a_different_branding.3F

[2017-02-28 15:45] abkahrs commented on #5
@jflory7 @serubin I think we are pretty settled on this. Ok to close?

[2017-02-28 23:33] thenaterhood commented on #4
gscreenshot is a nice, lightweight screenshot tool. https://github.com/thenaterhood/gscreenshot. Not currently packaged for RPM, but should be easy enough since it's a python application.

[2017-03-03 21:12] axk4545 commented on #3
Fedora package repo for openqa https://copr.fedorainfracloud.org/coprs/adamwill/openQA/

[2017-03-03 21:17] axk4545 commented on #3
https://jskladan.fedorapeople.org/slides_flock_2015/#/
https://fedoraproject.org/wiki/OpenQA
TODO: openqa instance in docker to put on Titan.

[2017-03-03 21:24] axk4545 commented on #3
Docker instructions https://github.com/os-autoinst/openQA/tree/master/docker

[2017-03-03 21:43] ReginaTL commented on #4
If you wanted a full graphic design/artist suite on the system you may want to add Krita, it's mostly for digital painting but you can do other cool stuff on there too. If it isn't in the default it shoudl be suggested in the wiki somewhere. We may want to create either install instructions/scripts for different common tools in classes like installing mysql etc. or include them by default.

[2017-03-04 02:23] axk4545 opened #11 "Travis builds failing"
Need to redo travis.yml to run script in docker container of Fedora 25 x86_64
@patkub, @RITlug/rit-linux-team

[2017-03-04 02:42] axk4545 commented on #11
@patkub closing since we are switching to a hosted vm for building and testing.

[2017-03-04 02:42] #11 closed

[2017-03-05 14:24] axk4545 commented on #4
Good idea. Will talk to IST sys admins about what software their students use. @RITlug/rit-linux-team could someone in SE and someone in CS get a list of essential things for students in their departments? any other recommendations are welcome too of course. CSEC would do most things in a Kali live environment AFAIK.

[2017-03-05 14:33] #5 closed

[2017-03-07 05:18] ReginaTL commented on #4
In that case we might want to have VirtualBox available either as default or in the CSEC package as an alternative to VMWare. I can make a list of some of the intro to CS stuff as I took CS I and II if we can't find anyone.

[2017-03-07 16:26] axk4545 commented on #4
IST: mysql/maria, mongo, php, apache, oracle java, nodejs
NSSA: wireshark, python, git, jgrasp

[2017-03-07 17:12] Josh1147582 commented on #4
For CS:
Maybe an IDE for Java and Python development? Because there's a lot of that, in CS and not in CS. Eclipse was the standard in CS for AP students a few semesters ago. IntelliJ's IDEA and PyCharm are much more popular among students, I don't know what they're licensing would allow us to do.
Mechanics of Programming works with C, so gcc and make would be good.
Programming Language Concepts us

[2017-03-07 18:33] ReginaTL commented on #4
For Intellij and PyCharm there should be at least something in the documentation that explains .tar.gz files and what to do with them. Maybe we can create a script that installs the tar.gz? I don't remember if I had to do something extra to get it as a shortcut in my menu because we can include that too.

Personally I feel git should be default.

Web and Mobile: I feel there should be firefox deve

[2017-03-08 02:47] axk4545 opened #12 "set up mirror and repo on titan"
Setup a mirror to download isos on titan. We will also need an rpm repository to host the packages for our logos and branding to replace the generic branding. @Serubin

@ReginaTL mentioning since you are doing branding.

[2017-03-08 21:49] axk4545 opened #13 "CS setup script for 3rd party programs"
Create script to install following packages.
- Intellij
- Pycharm Edu edition
- racket(wget source from [here](https://mirror.racket-lang.org/installers/6.8/racket-6.8-src.tgz) and build
- prolog
- logisim jar
- my wget script to fetch assignments https://github.com/axk4545/linux-stuff/blob/master/fetch
- JFLAP(http://www.jflap.org/jflaptmp/may15-2011/withoutSource/JFLAP.jar) see license http://ww

[2017-03-08 22:25] axk4545 opened #14 "jGrasp installer script"
Write a script to download jGrasp from http://www.jgrasp.org/dl4g/jgrasp/jgrasp203_05.zip and install it to the appropriate directory in /usr/local/

[2017-03-08 22:35] axk4545 opened #15 "SE package install script"
Script to download and install below packages to /usr/local/ subdirectories as appropriate
http://alloy.mit.edu/alloy/downloads/alloy4.2.jar
http://spinroot.com/spin/Man/README.html#S1a

[2017-03-09 18:40] axk4545 commented on #4
@RITlug/rit-linux-team please look at the first entry in this issue and vote with a thumb reaction. If we all approve I will add the base packages to the kickstart and begin building. Please also add your names and roles to the README. Also feel free to self assign any of the issues listed under projects to work on. When do in the work please for the repo and pull request into the devel branch.

[2017-03-10 22:36] axk4545 opened #16 "custom bookmarks via rpm package"
Modify and rebuild this package to include custom bookmarks.
https://koji.fedoraproject.org/koji/buildinfo?buildID=798930 it will be hosted in the same place as our branding RPM

[2017-03-10 22:37] axk4545 opened #17 "What should our custom bookmarks be?"
I am thinking we should include the RITFOSS and RITLUG stuff and rit.edu. What else should we add?

[2017-03-12 22:59] Tjzabel commented on #17
Maybe MyCourses is also another good one to add? And I love the idea of adding the RITFOSS and RITLUG bookmarks; however, I don't want the average student using this distrobution to be overloaded with FOSS bookmarks. What are your thoughts on that?

[2017-03-13 15:48] axk4545 commented on #17
@Tjzabel True. I was thinking I would add a FOSS@MAGIC page of @ritjoe's choosing and the RITLUG homepage or this repo and then maybe a link to a web irc client to connect to #ritlug

[2017-03-18 15:01] axk4545 commented on #17
@RITlug/rit-linux-team  thoughts?

[2017-03-18 15:08] axk4545 commented on #4
@RITlug/rit-linux-team If there are no objects I will be adding the base packages to the kickstart.

[2017-03-19 18:52] ReginaTL commented on #17
We should add TigerCenter and maybe RIT's dining website, I used it a lot bc I could never remember when Gracie's closed and now I use it to see what's open on campus at any given time.

[2017-03-21 15:55] axk4545 opened #18 "Wifi connection script and connection during install"
Given that the RIT wireless network connection is generated by the connect-rit script on a completed install, how do we want to manage wifi during the install? should we have instructions on the wiki or should we use the script and just copy the config file to the new system after the install or something else? @RITlug/rit-linux-team

[2017-03-21 16:39] axk4545 opened #19 "Custom branding"
Custom branding and wallpapers. Branding should be implemented as an RPM package per #12

[2017-03-25 22:36] axk4545 commented on #17
@RITlug/rit-linux-team closing if there are no objections
Here is the current list. rename to .html to view in a browser
[default-bookmarks.txt](https://github.com/RITlug/TigerOS/files/870424/default-bookmarks.txt)

[2017-03-25 22:38] axk4545 commented on #16
Closing due to [commit 43](https://github.com/RITlug/TigerOS/commit/f5c36527ed241aded9b98c93e39a4a9c4785a0e3)

[2017-03-25 22:38] #16 closed

[2017-03-25 22:43] axk4545 opened #20 "Major based meta package scripts"
see #4
We need a script to install/setup the packages based on user choices in our postinstall script. alternatively we could do these thing in the overall post install script. Input welcome @RITlug/rit-linux-team

[2017-03-26 01:44] axk4545 commented on #19
Next steps to be complete when possible:
Move branding and wallpapers to packages.
wallpapers package is at http://mirrors.rit.edu/fedora/fedora/linux/releases/25/Everything/source/tree/Packages/d/desktop-backgrounds-25.0.0-1.fc25.src.rpm

[2017-03-26 21:45] axk4545 commented on #13
@Josh1147582 next steps: simple scripts to pull in other packages or one script that runs all tasks to install CS packages. Probably keep the jar file ones standalone and call from main script.
Let me know if you like this approach.

[2017-03-28 16:52] axk4545 commented on #19
@ReginaTL for setting theme and other cinnamon prefs see  https://superuser.com/questions/1006983/how-to-set-cinnamon-preferences-in-command-line/1087459

[2017-03-28 17:16] ReginaTL commented on #19
Ok so Cinnamon has themes. Basically I'm going to try to create our own Cinnamon/GTK theme (by playing with the conf files) and then have that be the default look for the Cinnamon desktop.

[2017-03-29 00:14] axk4545 commented on #13
RE file locations apparently Linux has a dedicated location for the jar files that are part of applications. it is /usr/share/java/[jar file]. I am happy to do some work on the scripts after we pull in your changes to the main repo.

[2017-03-30 15:50] KevinMGranger commented on #14
I recommend setting up a proper [COPR](https://fedoraproject.org/wiki/Category:Copr) and making that easy to use instead.

[2017-03-30 16:38] axk4545 commented on #14
Licensing prevents packaged redistribution. The script will need to be run as part of a post install setup or in another way by the user.

[2017-03-30 16:56] axk4545 commented on #13
So it looks like we can make it an rpm but we will need to build the jar inside the RPM package to comply with Fedora guidelines. I am going to try one for jgrasp using https://fedora-java.github.io/howto/24/index.html#_example_rpm_project as a base

[2017-04-01 17:43] axk4545 commented on #2
@Serubin @jflory7 So it will be held by the club as a whole unless otherwise noted. Where should that be denoted?

[2017-04-01 17:43] #17 closed

[2017-04-01 21:44] Serubin commented on #2
The project is under a ritlug repo so that should be fine. Just make sure
the license is present.

On Sat, Apr 1, 2017, 13:43 Aidan Kahrs <notifications@github.com> wrote:

[2017-04-01 22:27] axk4545 commented on #13
@Josh1147582 intellij seems to generate a launch script and desktop file on first run so we would just need to deal with putting the parts in the right places so that they aren't running it from one directory.

[2017-04-02 15:55] axk4545 commented on #20
I think it may be best to have it in the overall postinstall script. Maybe do something similar to [bl-welcome](https://github.com/BunsenLabs/bunsen-welcome/blob/master/bl-welcome)

[2017-04-02 20:01] axk4545 commented on #20
WIP. Waiting for third party package scripts. see [postinstall script](https://github.com/RITlug/TigerOS/commit/3c52650b063c6fb4d679ec94ccfef54e524c553a)

[2017-04-02 20:11] axk4545 commented on #15
[email.pdf](https://github.com/RITlug/TigerOS/files/888639/email.pdf)
Obtained permission to use zChaff in Alloy

[2017-04-02 20:17] axk4545 commented on #13
updated initial comment please read.

[2017-04-02 21:58] Josh1147582 commented on #13
So something like:

`./rit-install.sh <major> <package(s)>`?

[2017-04-03 18:22] axk4545 commented on #19
@ReginaTL I figured out how to set the default theme! :) Basically put the below code in the `%post` section of our kickstart before the line  `cat >> /etc/rc.d/init.d/livesys << EOF`.
I can help when we get to that stage since I know the kickstart structure.
You can find the values and paths for the settings in dconf-editor after you set things the way they should be.

` create gschema override t

[2017-04-08 15:36] axk4545 commented on #3
If anyone wants to contribute configs they would be appreciated.

[2017-04-08 15:41] #2 closed

[2017-04-08 16:13] axk4545 commented on #14
See https://fedoraproject.org/wiki/Packaging:Java#JAR_file_installation for guidance on file naming and locations. jar file itself should go in /usr/share/java/[jar file]

[2017-04-08 16:29] axk4545 commented on #15
jar file should go in /usr/share/java/[jar file] as per https://fedoraproject.org/wiki/Packaging:Java#JAR_file_installation

[2017-04-10 14:11] axk4545 commented on #13
So the way I have written the [postinstall script](url), it is  based on case statements. The case for CS is currently structured so that you would call each script to install the programs sequentially exiting at the end of each script. You could optionally work in logic to allow the user to install only some programs.

[2017-04-10 14:15] axk4545 opened #22 "Scripts to uninstall packages based on major"
Using this [post install script](https://github.com/RITlug/TigerOS/blob/devel/scripts/postinstall) as a base create a script to revert each of the changes made in each case statement. eg rm files that were manually copied, dnf remove packages, clean up or backup configs. Let me know in Telegram or IRC if you have questions.

[2017-04-14 04:30] axk4545 commented on #22
I would recommend adding autoremove statements after each remove  so that the deps get cleaned up too. Definitely test this before pushing it as it is potentially destructive. RE the port it seems you could revert it by changing -a to -d  according to https://fedoraproject.org/wiki/SELinux/semanage but I would confirm on #fedora on irc.freenode.net I can do that if needed. let me know if you have

[2017-04-14 14:32] axk4545 commented on #14
For now just wget extract to /opt/jgrasp and put a launcher script in /usr/bin named jgrasp that will run the jar. Also create a .desktop file for desktop menus. see the jflap script for locations and as a reference

[2017-04-14 14:48] axk4545 commented on #14
Looks like this may just need to be really clear instructions on downloading and installing jGRASP to avoid legal stupidity. grr.

[2017-04-14 21:28] axk4545 commented on #15
Spin script created

[2017-04-15 01:37] axk4545 commented on #15
Alloy script created

[2017-04-15 01:37] #15 closed

[2017-04-16 17:08] linux-modder commented on #4
Trying to help with the postinstall for you folks and have a few questions:

SE:
sqlite3 needs what files exactly?  sqlite3 has like 20 sub-packages on Fedora
will sqlcipher be needed for entry obfuscation/security?

[2017-04-17 01:47] thenaterhood commented on #4
Vanilla sqlite3 should be enough as far as I'm aware.

[2017-04-17 20:44] axk4545 commented on #22
@Tjzabel I think that we are ready to add a couple more things from the CS group. ok if I leave it to you?

[2017-04-17 20:47] axk4545 commented on #13
ok. so just checking we still have pycharm, logisim racket and prolog right?

[2017-04-18 03:50] Tjzabel commented on #22
@axk4545 Yep, I'll let you know if I need anything.

[2017-04-18 04:02] Tjzabel commented on #18
@axk4545 It would be a good idea to simply have instructions on the wiki for this. Since Fedora has a GUI, it is quite simple to connect to the RIT network after the installation. In my opinion it would be best to leave it to the user to do this. Thoughts?

[2017-04-23 21:00] axk4545 commented on #13
Closing this. @Josh1147582 please open an issue for prolog with appropriate context.

[2017-04-23 21:00] #13 closed

[2017-04-23 21:01] axk4545 commented on #14
@nathaniel486 closing this. see the postinstall script.

[2017-04-23 21:01] #14 closed

[2017-04-23 21:03] axk4545 commented on #19
@ReginaTL closing. please open a new issue for remaining tasks.

[2017-04-23 21:03] #19 closed

[2017-04-23 21:04] axk4545 commented on #4
Scripts created except for jGrasp due to license. Closing.

[2017-04-23 21:04] #4 closed

[2017-04-23 21:05] axk4545 commented on #22
@Tjzabel please close if we are good

[2017-04-23 21:06] axk4545 commented on #18
@Josh1147582 think you could write up a blurb for the wiki?

[2017-04-23 21:06] axk4545 commented on #20
Done.

[2017-04-23 21:06] #20 closed

[2017-04-23 21:53] #22 closed

[2017-04-24 14:56] Tjzabel commented on #18
@axk4545 Have we decided how we are handling this issue? If so, is this able to be closed?

[2017-04-24 15:10] Josh1147582 commented on #18
Yeah, I can add instructions to the wiki. I'll go through it myself and write out instructions in the next couple days.

[2017-04-25 19:44] axk4545 opened #27 "Bookmarks not being applied from package"
tigeros-bookmarks package is being installed during build but the bookmarks are not present in the installed copy of Firefox. I have cleared the firefox data and reinstalled the bookamrks package and the issue still persists. any ideas?

[2017-04-25 21:13] axk4545 commented on #27
fixed file name

[2017-04-26 14:13] axk4545 opened #28 "Autostart postinstall and enablerpmfusion on first login to new system"
Currently there is code in [the ks](https://raw.githubusercontent.com/RITlug/TigerOS/devel/tigeros.ks) that should trigger postinstall to run on first login. This is still being debugged and could be improved. We also need to work out how we want to trigger the enablerpmfusion script (maybe in postinstall before the case statement?)
@Tjzabel @Josh1147582 any help is appreciated.

[2017-04-26 15:56] Tjzabel commented on #28
@axk4545 I will try to look at this issue when I get the chance.

[2017-04-26 15:58] axk4545 commented on #28
@Tjzabel ok. FYI I am working on the scripts atm. watch Telegram for the commit message

[2017-04-26 15:59] Tjzabel commented on #28
@axk4545 yeah sure. I won't be available to do any work until a little after 4 anyways

[2017-04-26 17:00] #12 closed

[2017-04-26 17:05] axk4545 opened #29 "automate/simplify pulling source and rebuilding RPMs"
Currently RPMs are updated, built and added to the repo manually. It would be nice to script this funtionality so that we can have changes pushed to github trigger rebuilding of RPMs and updating of the repo.
The GH sources affected are those for the scripts and possibly the branding.

For help ask about Fedora SOP in #fedor-admin and #fedora-devel on freenode

[2017-04-26 17:11] axk4545 commented on #29
Maybe rework GH repo to funtion similar to the [fedora lookaside cache](https://fedoraproject.org/wiki/Package_Source_Control#Lookaside_Cache)

[2017-04-28 02:03] axk4545 commented on #27
Apparently Firefox bookmarks are pulled in a t build time according to [here](https://bugzilla.redhat.com/show_bug.cgi?id=1338010). Since we do not have the resources to rebuild and maintain Firefox, I am going to implement a temporary fix until this feature is added to upstream.

[2017-04-28 02:05] axk4545 commented on #27
Maybe one of us could try to add a patch to firefox to allow bookmarks to be added at runtime as suggested in the bugzilla.

[2017-04-29 14:54] axk4545 commented on #28
@Tjzabel added enablerpmfusion to top of postinstall

[2017-05-07 01:18] Tjzabel opened #32 "Should we move from semanage to firewalld to keep track of opening/closing ports?"
# When using the removal script on IT/WMC, error occurs:

    firewall-cmd: error: unrecognized arguments: --del-port=22017/tcp

## This can currently be fixed by using firewalld to open port 27017 up for mongodb instead of semanage

[2017-05-07 01:19] linux-modder opened #33 "removal is throwing errors on missing packages"
adding --ignore-missing to the removal script at least on lines 69 and 84

[2017-05-07 01:35] Tjzabel commented on #33
@linux-modder Can you replicate this issue? I have tried replicating with a fresh Fedora VM, and have not gotten any errors. Currently testing for issues with line 84. Line 69 I could not replicate.

[2017-05-07 01:43] Tjzabel commented on #33
Added --ignore-missing tag. Closing issue.

[2017-05-07 01:43] #33 closed

[2017-05-07 02:01] Tjzabel opened #34 "Spin and Alloy scripts are called but never installed"
### postinstall script calls spin.sh and alloy.sh in the SE installation area, but they are never actually installed for the user in the kickstart.

#### Current location set for spin.sh:
    /usr/local/bin/se/spin.sh

#### Current location set for alloy.sh:
    /usr/bin/tigeros/se/alloy.sh

[2017-05-07 02:03] Tjzabel commented on #28
@axk4545 I believe we solved this issue. Closing.

[2017-05-07 03:09] Tjzabel commented on #27
@axk4545 where are we on this issue?

[2017-05-07 16:41] axk4545 commented on #34
The files are actually installed from the tigeros-scripts package. I am looking through the source atm to try to find the issue.

[2017-05-07 17:14] axk4545 commented on #27
@Tjzabel I believe we have it so that the firefox homepage is set to an HTNL file with a list of bookmarks. I would like to see if we can add the actual bookmarks though.

[2017-05-07 17:22] axk4545 commented on #32
Turns out the port was never opened in the firewall.

[2017-05-07 17:29] #32 closed

[2017-05-07 17:38] axk4545 commented on #34
fixed

[2017-05-07 17:38] #34 closed

[2017-05-07 19:01] axk4545 commented on #28
The script runs but immediately closes the terminal window after entering the password

[2017-05-07 19:04] Tjzabel commented on #28
@axk4545 where is the file put? Ran fine for me when placed in .config/autostart/

[2017-05-07 19:09] axk4545 commented on #28
@Tjzabel ~/.config/autostart/tigeros-postinstall.desktop. if run manually it works fine @linux-modder any ideas?

[2017-05-07 19:11] Tjzabel commented on #28
@axk4545 I was able to have it run on a fresh fedora install. I threw the file in that location, rebooted the VM, and it worked just fine.

Are you able to reproduce your issue with it closing after entering the password?

[2017-05-07 19:13] axk4545 commented on #28
@Tjzabel Yes. I am running the latest TigerOS iso from tigeros.ritlug.com/isos in a VirtualBox VM.

[2017-05-07 19:14] axk4545 opened #35 "Wallpaper not in right category in chooser"
This may just be a syntax issue with gsettings. I will look into it.

[2017-05-09 21:47] axk4545 commented on #27
Temporary fix implememented by [this commit](https://github.com/RITlug/TigerOS/commit/12d293136c6f0689c2162c2d6576970a3e021556) Still an issue in upstream

[2017-05-09 21:47] #27 closed

[2017-05-14 00:56] linux-modder commented on #35
The Wallpapers are set now, can select in the Backgrounds section as the second 'Backgrounds'  option, but none of the 3 options are auto setting themselves on first run. ( tested on 0513.iso)

[2017-05-14 01:03] linux-modder opened #36 "pycharm is not pulling itself in ( COPR issue)"
on the postinstall run (which still needs a explicit invocation on 0513), you see:

Error: This repository does not have any builds yet so you cannot enable it now.
Last metadata expiration check: 0:02:17 ago on Sun May 14 00:32:46 2017.
No package pycharm-community available.
Error: Unable to find a match.

reason stems from the repo presently being a metadata only repo as evidenced with the repo

[2017-05-14 01:06] linux-modder commented on #28
as of 0513 iso still requires explicit invocation while perms are as shown:

[tigers@tigers ~]$ ls -la /usr/local/bin/postinstall
-rwxr-xr-x. 1 root root 4589 May 13 05:01 /usr/local/bin/postinstall

this is on a raw metal fedora 25 (415Gb) / (30Gb) tigeros install:

[2017-05-14 01:13] linux-modder commented on #3
I will reach out to adamw for you ( the gent that does the openqa for the 58 present isos (f25). for pointers or scripts he can share.  I'd also suggest @axk4545 look in the ansible.git repo in the openqa branch  [[  https://infrastructure.fedoraproject.org/cgit/ansible.git/ ]]  git clone over ssh for those with a fasid/sshkey is also possible. @axk4545 Ben has a github as well, GH username is Vil

[2017-05-14 01:45] axk4545 commented on #28
@linux-modder thank you it would seem we need to possibly fix the permissions on the script itself. @johnraff @2ion I would be interested in how you have decided to implement the autostarting of the Bunsen Labs postinstall script.

[2017-05-14 01:53] axk4545 commented on #35
@linux-modder I found https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Desktop_Migration_and_Administration_Guide/custom-default-values-system-settings.html I am thinking we put that file in the backgrounds package. Thoughts?

[2017-05-14 02:14] linux-modder commented on #35
yes but you did not append or override the default one you added a second one which I would recommend for future releases labeling TigerOS or similar to distinguish them from the Fedora default ones assuming someone wishes to revert to stock backgrounds or later add a custom user-specified additional wallpaper.

[2017-05-14 02:17] axk4545 commented on #35
@linux-modder will see if I can find the name of it.

[2017-05-14 02:18] axk4545 commented on #36
Temp fix in place. Leaving open as a reminder to revert later.

[2017-05-14 02:19] axk4545 commented on #3
@linux-modder Thank you. I am not sure the openqa would really help us with the type of testing we need at this stage. Most of what needs testsing/debugging is the scripts and making sure that various settings are applied.

[2017-05-14 02:25] linux-modder opened #37 "Redshift service file enables but fails to start"
looking in /usr/lib/systemd/user I saw redshift.service (0513 iso)

however, a look at the file shows there is no argument assigned or invocation of the gtk package (redshift-gtk) for selecting any of the cool configurations for redshift.This lack of arguments even a --help or similar to let the user ( assuming not all students would be familiar with redshift or its numerous functions/arguments ju

[2017-05-14 02:27] linux-modder commented on #37
Even a link back to the http://jonls.dk/redshift/ listed in the .service comments section would be good OR the github repo for it:  https://github.com/jonls/redshift .

[2017-05-14 02:40] axk4545 commented on #37
@linux-modder we did not create the service file. I am guessing it came in from the package. We can definitely add something to our docs about the options. I am also going to verify that we have the gui being installed and accessible.

[2017-05-14 03:28] axk4545 commented on #35
ask in #fedora-design on freenode about naming wallpaper collections. will update with response.

[2017-05-14 03:29] johnraff commented on #28
There are two:
1) A script to set up the default user configuration during the first login, this is triggered from a lightdm config fragment: https://github.com/BunsenLabs/bunsen-configs/blob/master/50_bunsen.conf
2) A script to offer the user various installation options etc, run after login from ~/.config/openbox/autostart: https://github.com/BunsenLabs/bunsen-configs/blob/master/skel/.config/op

[2017-05-14 16:43] Tjzabel commented on #37
Redshift is definitely pretty wonky to get going sometimes even when using the GUI.

[2017-05-14 17:15] axk4545 commented on #28
@johnraff is this something that the user sees or could interact with? Right now we have [this desktop file](https://github.com/RITlug/TigerOS/blob/devel/scripts/tigeros-postinstall.desktop) and the script either fails to run or closes after the password prompt

[2017-05-14 17:17] axk4545 commented on #37
@linux-modder @Tjzabel I have no idea where redshift is coming from unless it is in one of the groups in the ks. it is not being installed on it's own in the list.

[2017-05-15 00:29] axk4545 commented on #18
@Josh1147582 think you could work on this after finals?

[2017-05-15 03:16] Josh1147582 commented on #18
Yeah, I'll have time Thursday night, hopefully.
Sorry about the wait. I still can't pinpoint the GUI laptop issues. Maybe I'm using it wrong, and I need a writeup, lol.

[2017-05-15 04:28] johnraff commented on #28
No, */usr/lib/bunsen/configs/bl-user-setup* is run by lightdm, as root, *before* the user is logged in.

[2017-05-15 18:31] axk4545 commented on #28
@axk4545 @me I got it set Terminal=false also play with profile arg to see if it matters

[2017-05-16 04:42] axk4545 commented on #28
Well now it seems to work too well... it runs on the livecd.

[2017-05-23 01:37] axk4545 commented on #35
see https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Desktop_Migration_and_Administration_Guide/customize-desktop-backgrounds.html
Hope to have a fix in devel as soon as I hear back from @ReginaTL  about the picture aspect setting

[2017-05-23 01:39] axk4545 commented on #36
@linux-modder do we know if this has been fixed upstream?

[2017-05-23 01:41] axk4545 commented on #28
I think I have a workaround in removing the desktop file from the liveuser's autostart in %post of the kickstart. will implement in builds once I have tested and received feedback on other changes.

[2017-05-23 19:49] linux-modder commented on #36
The repo data has not changed it seems still indicates rpm-metadata  however might be a way to setup a monitor of his builds to point to the latest successful build (at present one from 2 weeks ago, however his cycle of builds does _APPEAR_ to be every two weeks from the history)

[2017-05-26 01:15] axk4545 commented on #35
Better idea: https://github.com/kororaproject/kp-korora-settings-gnome/blob/master/upstream/org.korora.gschema.override#L156

[2017-06-01 22:59] axk4545 commented on #35
Fixed in 20170531 iso and in devel branch. Still need to check categories

[2017-08-17 02:48] Tjzabel commented on #37
If we decide to fully move over to Fedora 26, then this will become a non-issue since Fedora 26 has a native night shift mode built in that works wonderfully.

[2017-08-17 03:14] jflory7 commented on #37
Given this, I think it would make sense to use the upstream GNOME night shift mode. If a user later decides to use something other than GNOME, then they can probably figure out Redshift pretty easily (I think the current issue is a GNOME vs. Wayland one?).

[2017-08-17 03:16] Tjzabel commented on #37
@jflory7 yeah, Redshift doesn't work on Gnome. Furthermore, I just checked, and there is no Night LIght mode on Fedora 26 using Cinnamon Desktop, which is what TigerOS uses, so not sure what to do then.

[2017-08-17 03:25] axk4545 commented on #37
@tjzabel @jflory7 maybe we put it to a vote to see if it is worth switching
to GNOME for? Once we can meet in person of course. Current timeline to
update packages for F26 is Flock week.

On Aug 16, 2017 10:16 PM, "Tim Zabel" <notifications@github.com> wrote:

@jflory7 <https://github.com/jflory7> yeah, Redshift doesn't work on Gnome.
Furthermore, I just checked, and there is no Night LIght mode o

[2017-08-17 03:30] jflory7 commented on #37
Oh, d'oh, right, I knew that. But isn't Cinnamon running on Xorg? I wonder why Redshift is broken then. Admittedly, I haven't had a chance to build and test the OS yet, but I'm hoping to do this early in the semester to get a feel for what's going on.

If we can use an upstream feature, it makes sense, but changing DEs is probably a pretty big decision (it makes more sense to build on what we have

[2017-08-17 22:27] axk4545 commented on #36
Still an issue and possibly a blocker for full move to F26 @linux-modder @Tjzabel

[2017-08-18 00:31] linux-modder commented on #36
@axk4545 @Tjzabel I will look again, sorry I've been sidelined with other projects recently sorry.

[2017-09-06 20:40] Tjzabel commented on #36
@axk4545 why are we installing PyCharm this way, instead of installing it as we have for IntelliJ IDEA?

[2017-09-06 23:16] axk4545 commented on #36
COPR is easier than the manual scripted install. We can discuss Friday
though

Aidan Kahrs
abkahrs@gmail.com

On Sep 6, 2017 7:05 PM, "Tim Zabel" <notifications@github.com> wrote:

[2017-09-07 00:22] linux-modder commented on #36
@Tjzabel PyCharm-community which is what is in play for TigerOS is not at the version needed/desired when pulled from IntelliJ  IDEA

[2017-09-07 00:26] Tjzabel commented on #36
@linux-modder Well, if the Copr still isn't available I can always make a script, even if temporary, to install the pycharm community edition if it's holding us back.

[2017-09-07 00:40] axk4545 commented on #36
@Tjzabel @Tjzabel21 Just saw the comment. We can talk at the meeting. The short answer is it is better to pull from COPR since that is an RPM rather than add it to our collection of scripts and then have to maintain it.

[2017-09-09 01:14] ctm2142 opened #40 "EnableRPMFusion needs "yes" flag for install"
The `dnf install` command needs a "yes"/"quiet" flag in the install command (creates more prompts for install). Also, @axk4545 has more bugs with this (will add later).

[2017-09-09 15:54] axk4545 commented on #40
@ctm2142 any idea what I said the other bug was? :P it was late.

[2017-09-09 15:55] axk4545 commented on #40
oh maybe the repeated loops.

[2017-09-09 16:36] #40 closed

[2017-09-10 20:06] ctm2142 commented on #28
Other ideas:
- Check if running from the livecd disk (Main disk is labeled "TigerOS-live")
- Look at using a service like PiBakery does ([https://github.com/davidferguson/pibakery-raspbian](https://github.com/davidferguson/pibakery-raspbian))

[2017-09-11 15:10] linux-modder commented on #28
I assume you mean this: https://github.com/davidferguson/pibakery-raspbian/blob/master/etc/systemd/system/pibakery.service? If so that would work indeed.

[2017-09-12 04:44] ctm2142 commented on #29
I can help with this, hit me up another time and we can brainstorm

[2017-09-12 04:46] ct-martin opened #41 "Reevaluate desktop environment"
@axk4545

[2017-09-12 17:33] axk4545 commented on #41
@ctm2142 ISO size is also something to consider. GNOME is pretty big

[2017-09-12 17:45] Josh1147582 commented on #41
To consider as well: how much emphasis on DE choice are we going to put in the docs?

If we have several sections/DEs, descriptions of them, install guides, etc., then that might change how high of a priority the out of the box DE is.

[2017-09-12 18:18] jflory7 commented on #41
It's also a comparable question, is bandwidth and our image size a concern for our target audience, i.e. RIT students (on the RIT network) or RIT lab computers? I'm not sure if the image size is too much of a concern for our use case. While it is generally important, I don't know if it's critical for the context of RIT's gigabit network.

[2017-09-12 19:46] axk4545 commented on #41
@jflory7 On a technical side, the larger the ISO the more space we need on the mirror and the longer it will take to build. There are also limits to the capacity of the physical media depending on what it is. I am trying to keep it flexible.

[2017-09-12 19:48] Tjzabel commented on #41
@axk4545 I understand we are trying to keep the size of the ISO as small as possible, but does changing a DE from Cinnamon to Gnome drastically increase the size of the ISO so much as to rethink doing so?

[2017-09-12 19:50] axk4545 commented on #41
@axk4545 Maybe. This will all need to be evaluated as part of the switch. first steps are probably do we want ot switch and if so to what. Then deal with implications a little more.

[2017-09-12 21:35] axk4545 commented on #36
@linux-modder I think this is fixed now with F26. Mind verifying?

[2017-09-12 21:50] axk4545 opened #42 "TigerOS in RIT labs"
Opening for tracking purposes. Primary contact is James Craig.
jmc AT cs DOT rit DOT edu
Manager of Technical Services
585.475.5254
GOL-3599

[2017-09-12 21:58] axk4545 commented on #36
Just tested against the COPR on Fedora 26 and it succeeded and can launch

[2017-09-12 21:58] #36 closed

[2017-09-13 16:58] axk4545 commented on #41
If we do go gnome, I know there was some talk of dash to dock. I propose using [dash to panel](https://github.com/jderose9/dash-to-panel) in its place.

[2017-09-13 17:47] Tjzabel commented on #41
@axk4545 that sounds like a good idea. I'll look into it on my own laptop (I'm running fedora 26 gnome) as well and see how it is.

[2017-09-14 05:28] ct-martin opened #43 "Screenshots"
Looking for opinions. Will crop out black border & get at a better resolution in the final versions.

![desktop](https://user-images.githubusercontent.com/25327135/30413403-db80552c-98eb-11e7-9ec9-83b21924ad59.PNG)
![randomapps](https://user-images.githubusercontent.com/25327135/30413404-db8644f0-98eb-11e7-9bc7-d514b29ac78d.PNG)
![startmenu](https://user-images.githubusercontent.com/25327135/30413

[2017-09-14 11:51] linux-modder commented on #43
I'd add things like Pycharm and other Major -centric Apps running, and migrate to a PR even.

[2017-09-14 14:20] axk4545 commented on #43
@ct-martin I second @linux-modder as well as saying we should switch the terminal one so it isn't running as root as that is bad practice that we don't want to spread.

[2017-09-14 14:22] Tjzabel commented on #43
@ct-martin yess, this looks really good.

[2017-09-15 21:05] Josh1147582 commented on #41
Also kinda related (not sure if it deserves its own issue):

When running a live USB on my laptop (devel-20170910), there's currently no way to connect to the RIT WPA2 enterprise network with Cinnamon's network manager. Selecting RIT from the task icon bring up Cinnamon's network settings program. Selecting RIT from there does nothing.

As of now, to connect to RIT, I must remove Cinnamon's networ

[2017-09-16 02:01] ct-martin commented on #43
#44 Need updates to get one of dnfdragora, but got a couple of hexchat instead for now. All are 1080p

[2017-09-16 12:00] linux-modder commented on #43
Recommendation for apps to showcase in the screenshots:
- A few/the most important ones from each major/discipline
- desktop selection options menu -- so folks can see that if they wish to change the background or do different resolutions.etc they can
- show root as being sudo'd into or sudo su / su -c ' {command_string} '

[2017-09-16 12:54] linux-modder commented on #41
@Josh1147582,

ls /etc/sysconfig/network-scripts/  shows anything for ifcfg-RIT or similar?  Also, keep in mind even if it did as the wpa or even peap (eduroam) networks on ANY university require a u/n  ( in some cases an additional CERT/PKI factor) which can not be hardcoded. Try adding info into the ../network-scripts/ifcfg-RIT   file (info = {u/n} )

[2017-09-16 14:24] Josh1147582 commented on #41
@linux-modder

/etc/sysconfig/network-scripts/ was empty. I didn't try adding/configuring a file manually, since I didn't think we would expect users to do that, and hardcoding a solution would be impossible. Also, using nm-applet to select, configure, and connect to the network works just fine. But I might try spinning it up again and making my own config file, to see if I can get Cinnamon's netw

[2017-09-16 15:38] axk4545 commented on #43
@ct-martin I provisonally merged your PR. what updates are needed for dnf-dragora? also please consider doing some of the things @linux-modder suggested particularly the first one.

[2017-09-16 16:04] axk4545 commented on #37
this may be resolved depending on the outcome of #41

[2017-09-16 16:09] Tjzabel commented on #37
@axk4545 yep, if gnome ends up becoming the default DE, then Fedora 26's night light mode will take care of this issue.

[2017-09-16 17:22] ct-martin opened #45 "Change lock screen when no user selected to be the TigerOS default"
The lock screen is still using the default Fedora one on the LiveCD, we should change it to the TigerOS one if we can

[2017-09-16 17:22] ct-martin opened #46 "Lock screen time is non-US"
![Lock screen time by default is in Military Time](https://user-images.githubusercontent.com/25327135/30514401-0f6bb7c6-9ae2-11e7-80e7-6c31a799ba14.PNG)

[2017-09-16 17:26] axk4545 commented on #45
@ct-martin what do you mean? AFAIK we don't have a TigerOS one.

[2017-09-16 17:39] ct-martin commented on #45
So this also happens on the full install when no user is logged in
![fixme2](https://user-images.githubusercontent.com/25327135/30514528-5cbdd8c2-9ae4-11e7-9089-312402874918.png)

[2017-09-16 17:44] ct-martin commented on #43
I need Fedora updates to show that it does updates (my system was already up to date). I will get some of PyCharm, etc however, the script was not working and I decided I wasn't messing with repos for the moment

[2017-09-16 18:38] Josh1147582 commented on #41
Update to my Cinnamon wifi issue above.

I get the same issue on a live USB of [https://spins.fedoraproject.org/cinnamon/](Fedora's Cinnamon Spin). So it seems it's an issue with Cinnamon, or Cinnamon on Fedora. I'm interested to see if anyone but me has this issue as well: if it's common, we may want to consider a DE switch.

[2017-09-16 21:16] ct-martin commented on #29
From discussion:

1. Someone commits to GitHub
2. Pull on the build box (using git pull)
3. Make srpm + rpm
4. Copy to /var/builds-to-sign or somewhere that has "chmod g+w" and "chown build-signers:build-signers" w/ people allowed to sign in that group
5. (long-term) send a message via email and/or IRC to notify things need signing
6. Things get signed manually
7. Run after-signing script which do

[2017-09-17 18:14] linux-modder commented on #41
it's a part of cinnamon's NetworkManager-wifi  and network-manager-applet not talking natively.

[2017-09-17 18:22] linux-modder commented on #43
@ct-martin while I might be misunderstanding your last comment but if you pulled this on 0910 or within a day or two, seeing as it was built with all updates ( from the mirrors) on 0910 not much has updated since then.

@axk4545  wrt dnf-dragora, is the follow of the gnome-version of dnf-yumex or whatever the gui tool was called for dnf/yum it is a new thing to 26, and worthy of a mention in relea

[2017-09-17 18:30] ct-martin commented on #43
@linux-modder @linux-modder What I meant was that I had an already up-to-date system so I felt it was not worth getting a dnfdragora screenshot yet.

[2017-09-18 02:09] Tjzabel commented on #46
You are using Gnome, correct?

In order to change the default time from 24h to 12h with the gnome-clock-applet you run the command:
`gsettings set org.gnome.desktop.interface clock-format 12h`

[2017-09-18 02:11] ct-martin commented on #46
@Tjzabel Point is should be 12hr by default. Also, this is on Cinnamon, so sort of

[2017-09-18 02:12] Tjzabel commented on #45
@ct-martin This is a pretty easy fix. You can change out the default wallpaper with ah TigerOS-themed one. Backgrounds are found in `usr/share/backgrounds`

[2017-09-18 02:13] Tjzabel commented on #46
@ct-martin Understood. We can run this command at startup or add it to the ks to make it start in 12h time format.

[2017-09-18 02:14] ct-martin commented on #45
@Tjzabel This is a suggestion to change default behavior

[2017-09-18 02:14] axk4545 commented on #46
@ct-martin @ctmartin @Tjzabel it's all good. I know what to do to fix it just haven't had time. it is in the lightdm-gtk-greeter.conf file. I would like to maybe make this part of a UI tweaks package.

[2017-09-18 02:15] Tjzabel commented on #45
@ct-martin Understood. Again, I am simply pointing out the solution :P

[2017-09-20 01:33] ct-martin opened #49 "Restructure folders"
- [ ] Move CI scripts to a new /build-scripts folder
- [ ] Move /design to /packages/tigeros-logos and /packages/tigeros-backgrounds
- [ ] In the design folders, there should be an assets/project files folder for the SVG and Krita files (for example, /packages/_design-assets or something
- [ ] Move /scripts to /packages/tigeros-scripts
- [ ] Move the src rpms to /packages/_src-rpm

This will make

[2017-09-20 02:01] axk4545 opened #50 "TigerOS initial planning and ideas"
Notes for the RIT Linux Remix
========================================================================

Names
Please write your name in the list below so we know what color is who!

	* Justin (jflory7 / jwf)
	* Regina (gen1e)
	* Solomon (Serubin)
	* Josh (jhb2345)
	* Anon
		* not alex
	* Brian(Brian-Sandon) - only the comment on Wallace library backgrounds
	* Tim
	* Ted (tek9067)
	* Aidan

=======

[2017-09-20 02:02] #50 closed

[2017-09-20 02:09] #49 closed

[2017-09-20 04:25] axk4545 commented on #29
@ct-martin also assigning you though I can't since you aren't on the repo yet. poke me if you want to be added and I will discuss with team and eboard.

[2017-09-24 01:16] ct-martin commented on #42
List of packages on Glados: https://paste.fedoraproject.org/paste/IQczZj-4UKdJjXWeph13ZA
Note: password protected. Project members can get it from me or Aidan, others, sorry but we can't give it to you (security concerns)

[2017-09-29 14:13] Tjzabel commented on #43
Where are we with these screenshots now

[2017-09-29 14:16] ct-martin commented on #43
@Tjzabel See /screenshots, we have a number.

[2017-09-29 14:18] Tjzabel commented on #43
@ct-martin yeah I see we have a decent amount now. I'm simply wondering where we are with this issue after the current screenshots we have.

[2017-09-29 14:30] ct-martin commented on #43
@Tjzabel I needed updates to show a dnfdragora update (probably can do now that it's been a week or so). Also, with the GNOME discussion I'm not really focusing too much on it.

[2017-09-29 14:31] Tjzabel commented on #43
@ct-martin makes sense. I'll keep this issue up then.

[2017-09-29 15:08] axk4545 commented on #45
This is kinda dependent on our DE. If we go to GNOME this becomes moot as GNOME uses GDM as opposed to lightdm. We will deal with this at the first official meeting on Oct 6th.

[2017-09-29 15:15] axk4545 commented on #46
see #45

[2017-09-29 15:47] axk4545 commented on #3
@linux-modder we would like to use openqa to test tutorials for setting up a system for certain use cases.

[2017-09-29 15:58] axk4545 opened #55 "Replace post install script with GTK UI or metapackage in software selection"
@ct-martin @Tjzabel @Josh1147582

[2017-09-30 18:35] Tjzabel commented on #46
From what I've noticed going through the TigerOS install, there is an option to change the time format in the Anaconda installer.

[2017-09-30 18:37] Tjzabel commented on #18
This is definitely still an issue after installing the latest TigerOS on a fresh machine with cinnamon.

[2017-09-30 18:38] Tjzabel commented on #28
Sooo it seems this isn't an issue. It may possibly be an issue running TigerOS in a VM, but using the LiveCD on an actual machine does not seem to trigger the PostInstall prematurely as stated.

[2017-09-30 19:08] axk4545 commented on #28
@Tjzabel thanks for checking on this. I would like to get a couple more confirmations that this isn't an issue before I close.

[2017-10-06 15:52] jflory7 commented on #41
_Discussed in 2017-10-06 TigerOS meeting._

## Current status

* **WiFi**: Added packages needed to get WiFi working out of the box for WPA2 Enterprise, needs testing

## Points of consideration for changing

* **To GNOME**:
    * Working directly with default desktop environment from upstream
    * With dash-to-dock, create a friendly, familiar, and modern user experience
    * Feels "newer" than

[2017-10-08 00:31] ct-martin commented on #18
Working on testing, also related to #41

[2017-10-08 00:39] ct-martin commented on #3
Possibly will be added to #29 (in part?). Also related to https://github.com/RITlug/tasks/issues/13

[2017-10-08 00:42] ct-martin commented on #35
To be retested after #41

[2017-10-08 00:43] ct-martin commented on #28
To be retested after #41

[2017-10-08 00:45] ct-martin commented on #43
Also dependent on outcome of #41

[2017-10-08 04:25] linux-modder commented on #18
[code]

Above is a template that I sanitized from the local EDU connect on my laptop this could be a skeleton ifup script for RIT.

[2017-10-10 01:54] ct-martin commented on #55
For ref in case we go the route of a custom comps.xml file: [https://github.com/manatools/dnfdragora/blob/master/tools/gen-comps-category-list.sh](https://github.com/manatools/dnfdragora/blob/master/tools/gen-comps-category-list.sh)

[2017-10-13 15:38] axk4545 commented on #28
I approve of the last comment

[2017-10-13 15:44] axk4545 opened #56 "Match contents of sources/ to SRPMs"

[2017-10-13 15:53] jflory7 commented on #41
_Discussed in 2017-10-13 TigerOS meeting._

## Summary

The four present members (of seven total) in the meeting voted to **switch the TigerOS desktop environment to GNOME3 with dash-to-dock**.

## Explanation

If you look through some of the other issues, more research and testing was done on the GNOME / Cinnamon DEs. Cinnamon is still unable to authenticate automatically with RIT's 802.1x networ

[2017-10-13 15:53] #41 closed

[2017-10-13 16:03] #56 closed

[2017-10-13 16:11] axk4545 opened #57 "Create dark theme TigerOS background"
Black and dark grey @ct-martin @ReginaTL whoever wants it... (low priority)

[2017-10-13 19:07] ct-martin commented on #55
@axk4545 @jflory @Tjzabel21 @josh1147582
While some of this will end up in another issue, this is where the process/discussion is happening right now, so forwarding this from Aidan to here (see below). I think we should discuss Week 8 and then Week 9 we should make a milestone for this and then break into issues based on the discussions and subsequent research.
[code]

[2017-10-13 19:09] Tjzabel commented on #57
@axk4545 I can also help with the icon theming to create a dark theme if someone wants to do a dark wallpaper.

[2017-10-13 19:13] Tjzabel commented on #37
Since we have switched to Gnome, we can close this issue. Thoughts? GNOME3 uses nightlight mode which renders Redshift useless here.

[2017-10-13 19:29] ct-martin commented on #37
@Tjzabel Did this get put in the build I made, and if not what packages need to be added?

[2017-10-13 19:34] axk4545 commented on #37
@Tjzabel Moot point. Please remind me to remove redshift from the package list. And then close the issue

[2017-10-14 05:15] Tjzabel opened #58 "Failed to write bootloader configuration"
@axk4545  @ct-martin When installing TigerOS GNOME edition to my physical laptop, the bootloader fails to install properly.

When I select the exact same configuration on the official Fedora 26 distro, the installation goes fine.

[2017-10-14 06:08] ct-martin commented on #58
Debugged w/ @Tjzabel - Confirmed issue exists and involves UEFI, BIOS install works fine.

@axk4545 going to assign this to you since this is your territory.

[2017-10-14 13:58] axk4545 commented on #58
@ct-martin Will look into it soo.

[2017-10-14 18:19] Tjzabel commented on #58
UPDATE: Currently this issue is present both in the Cinnamon and GNOME TigerOS installations.

[2017-10-15 01:04] linux-modder commented on #58
@axk4545 @Tjzabel confirm installer / install image have grub2-efi package installed.  If so, file bug upstream with both anaconda and grub2 developers.

[2017-10-15 01:08] axk4545 commented on #58
@linux-modder @Tjzabel @ct-martin it is in the ks.  please confirm it is actually in the resultant image.

[2017-10-15 01:13] axk4545 commented on #58
per @linux-modder add --efi to LMC command in build scripts.

[2017-10-15 01:16] ct-martin commented on #58
@axk4545 Can confirm grub2-efi is installed on the liveusb, will rebuild with —efi and then we can retest

[2017-10-15 01:51] axk4545 commented on #37
Redshift is removed.

[2017-10-15 01:51] #37 closed

[2017-10-15 01:54] ct-martin commented on #46
Verified as still appearing in the GNOME builds

[2017-10-15 02:27] ct-martin commented on #58
"livemedia-creator: error: unrecognized arguments: --efi"
(cc @axk4545 @linux-modder )

[2017-10-16 14:37] axk4545 commented on #29
Here are a few option:
Self hosted [COPR](https://pagure.io/copr/copr/blob/master/f/copr-setup.txt)
Bash scripts and git hooks
[mock-scm](https://github.com/rpm-software-management/mock/wiki/Plugin-Scm) config options to make a tarball

[2017-10-16 20:04] axk4545 commented on #58
This makes me think we should also test on Mac as they have a special EFI implementation

[2017-10-16 20:57] jflory7 commented on #29
For what it's worth, I'm 👎 to a self-hosted COPR because it will be difficult for someone to maintain later on. I'd be concerned about what would happen in four years if we hosted our own COPR.

[2017-10-16 21:08] ct-martin commented on #29
@jflory7 tbh, git+jenkins/ci+bash (aka, what we have now) seems like the best option

[2017-10-16 21:10] axk4545 commented on #29
True. It is likely though that the build system will be on our infra unless
we can find a good hosted way to do RPM builds. Also needs to be able to
function as a dnf repo or put the result in a valid dnf repo. Also signing.

Aidan Kahrs
abkahrs@gmail.com

On Oct 16, 2017 4:57 PM, "Justin W. Flory" <notifications@github.com> wrote:

[2017-10-16 21:17] jflory7 commented on #29
Well, if we're hosting it on our own, I'd figure it would have to be hosted on our infrastructure, right? 😉

If COPR is something we want to use, I have a strong preference for using Fedora's COPR and creating a group for the TigerOS team to maintain any packages there. Hosting on our own introduces a significant amount of work, and it would require all of the team to contribute documentation for

[2017-10-16 21:20] axk4545 commented on #29
@jflory7 Licensing might be an issue. Also COPR may want to have one repo per package.

[2017-10-16 22:21] axk4545 opened #59 "Package dash to dock"
We can pull upstream releases from [here](https://github.com/micheleg/dash-to-dock/releases) and write a spec like [this](https://github.com/kororaproject/kp-gnome-shell-extension-workspaces-to-dock/blob/master/build/gnome-shell-extension-workspaces-to-dock.spec)

[2017-10-17 03:42] axk4545 commented on #58
@axk4545 Attempted an install with a TigerOS live USB burned with Fedora Media Writer. Same result

[2017-10-19 18:26] linux-modder commented on #58
@ct-martin on live doesn't mean it's in the squashfs tho the squahsfs is what is rsync'd off for install on a non netinstall iso

Will check the present ks today and see if I can find a bug in the logic or usage.

[2017-10-19 18:29] ct-martin commented on #58
@linux-modder do you have a command I can run on the live to test if it's there?

[2017-10-19 23:38] ct-martin commented on #29
Status update:
- We have an Ansible playbook that installs all the needed programs and does part of the configuration.
- We (@axk4545) are rethinking CI, will continue once that is decided.

[2017-10-19 23:40] ct-martin commented on #42
Made title more general since after talking to SJ during FOSS Hours, there is a POSSIBILITY (NOT guaranteed) that we MIGHT be able to get TigerOS onto the new MAGIC computers.

[2017-10-19 23:41] ct-martin commented on #43
Waiting on implementation of Dash to Dock

[2017-10-21 18:03] axk4545 commented on #29
@ct-martin Travis is a no go. This is gonna be interesting with COPR. Biggest concern is licensing. I would go with automating our self hosted stuff (maybe ala [this](https://blog.mornati.net/build-rpms-for-a-git-github-project-with-jenkins/) substituting fedpkg for rpmbuild ) and the process there but be able to migrate to COPR with tito ala [this](http://miroslav.suchy.cz/blog/archives/2013/12/2

[2017-10-21 18:05] axk4545 commented on #43
@ct-martin Dash to dock in repo now

[2017-10-22 19:19] axk4545 commented on #59
need to discuss source organization with @ct-martin and how that works with build automation

[2017-10-22 19:32] axk4545 commented on #35
I believe @Tjzabel was actioned for this

[2017-10-22 19:35] axk4545 commented on #58
@Tjzabel will test once we get a build. currently blocked on gstreamer dep issues upstream

[2017-10-22 19:36] axk4545 commented on #45
@Tjzabel please investigate if this is possible in gnome and if you can make it a spec and sources.

[2017-10-22 19:38] axk4545 commented on #18
@Josh1147582 Please add tutorial when you can as actioned at last meeting.

[2017-10-22 19:40] axk4545 commented on #46
Please see if this can be done in a package with the lockscreen since they are related

[2017-10-22 22:21] axk4545 commented on #29
for help with using tito as describe above in hosted COPR and getting COPR to work with our subdir based approach talk to `clime` in `#fedora-buildsys` on `freenode`

[2017-10-24 00:52] axk4545 commented on #59
@ct-martin did we decide how to handle the source for this? if we don't host it we can do a `spectool -g` on the spec file to grab the source by URL.

[2017-10-24 00:54] ct-martin commented on #59
@axk4545 ???
If you mean for the dash-to-dock source, grabbing the tar.gz from the release like we are now

[2017-10-24 00:56] axk4545 commented on #59
@ct-martin so grab with spectool -g or manually input URL?

[2017-10-24 17:12] axk4545 commented on #29
ideas:
- Lightweight build system section here https://www.hogarthuk.com/?q=node/11
- https://wiki.jenkins-ci.org/display/JENKINS/RPM+Sign+Plugin
- https://github.com/jhrcz/jenkins-rpm-builder
- https://schneide.wordpress.com/2013/03/18/1-click-deployment-of-rpms-with-jenkins/
@ct-martin

[2017-10-24 22:33] axk4545 commented on #29
ok. so we should probably use tito in some way to get around the subdir part. we can run tito with jenkins to trigger. signing can likely use the jenkins plugin and deployment is copying in some way from the output dir to the mirror/repo dir and fixing perms. tito will handle making the tarballs and bascially going from flat source files to RPMs and SRPMs.

[2017-10-25 02:56] ct-martin opened #63 "Wiki Sidebar"
So can categorize topics, such as "User Docs," "Building," "Internal/Meeting Notes"

[2017-10-25 03:04] ct-martin commented on #28
There was a question as to the legality/liability of providing rpmfusion, namely the same reasons Fedora doesn't may affect us. For discussion at meeting, just putting in issue. (cc @axk4545 )

[2017-10-25 20:05] axk4545 commented on #58
@Tjzabel can I have the logs from the install and the exact error message? the logs will be at `/tmp/anaconda.log`, `/tmp/program.log` and `/tmp/syslog` on the installer system(when running from the install disk/live usb). they can also be pulled from the installed system in `/var/log/anaconda` if you skip the GRUB step and complete the install.

[2017-10-25 20:07] axk4545 commented on #63
see [https://help.github.com/articles/creating-a-sidebar/](https://help.github.com/articles/creating-a-sidebar/)

[2017-10-25 20:58] axk4545 commented on #58
It might be an issue with the anaconda install class. I will look at it.

[2017-10-27 15:43] jflory7 opened #65 "Follow up with third-party projects about packaging plans"
# Summary

We need to follow up with some third-party projects about their plans for packaging and if we can include the software in TigerOS before the first release.

# Background

Earlier, we reached out to various third-party projects that RIT uses for software in labs. Some of them had licensing issues or weren't packaged yet for Fedora. Some of them gave hard, "yes" "no" answers, others were

[2017-10-27 15:44] jflory7 commented on #65
As a minor comment about JGrasp, if it's not feasible, check out [DrJava](http://drjava.org/).

[2017-10-27 16:00] axk4545 commented on #18
Replaced with documentation.

[2017-10-27 16:00] #18 closed

[2017-10-27 16:30] ct-martin opened #66 "Package .deb files"
Support greater user base (Debian+Ubuntu)
Part of CI in #29
Should not be a major time investment

[2017-10-27 20:59] ct-martin commented on #66
Will all be Ansibled

[2017-10-27 23:36] ct-martin commented on #63
Done

[2017-10-27 23:36] #63 closed

[2017-10-27 23:38] ct-martin opened #67 "Rewrite Dev docs"
Dev docs are no longer up to date, once #29 is done they should be rewritten.

[2017-10-28 01:12] Tjzabel commented on #58
Soooo The UEFI build works!! How should I proceed? This issue may be available to close.

[2017-10-28 01:13] axk4545 commented on #58
@Tjzabel test it repeatedly. also if you have the old one with logs grab them please.

[2017-10-28 01:32] ct-martin commented on #58
So, what did we change between then and now?

[2017-10-28 01:51] linux-modder commented on #58
@Tjzabel what iso was tested?  was it bare metal or virtual? so I can secondarily confirm and possibly peck at the logs and such to iron out the actual part that fixed this.

[2017-10-28 01:53] Tjzabel commented on #58
@linux-modder The latest ISO was tested using a UEFI build box. It was installed bare-metal.

[2017-10-28 01:54] Tjzabel commented on #58
There is no /boot/efi partition now, which is interesting

[2017-10-28 01:58] axk4545 commented on #58
@Tjzabel Make sure it wasn't done in BIOS mode by mistake

[2017-10-28 01:59] Tjzabel commented on #58
@axk4545 How should I go about finding that out.

[2017-10-28 04:50] axk4545 commented on #58
@Tjzabel @linux-modder @ct-martin I attempted a UEFI install and was able to reproduce the issue. Please see the attached logs. Also looping @AdamWill in on this as he expressed interest in helping me debug this
[logs.zip](https://github.com/RITlug/TigerOS/files/1423938/logs.zip)

[2017-10-28 04:53] axk4545 commented on #58
This install used [linuxmodder.iso](https://tigeros.ritlug.com/isos/linuxmodder.iso)

[2017-10-28 04:56] axk4545 commented on #58
Output of `lsblk` on the effected disk:
NAME             MAJ:MIN RM  SIZE RO TYPE MOUNTPOINT
sdb                8:16   0 74.5G  0 disk
├─sdb1             8:17   0  200M  0 part
├─sdb2             8:18   0    1G  0 part
└─sdb3             8:19   0 73.3G  0 part
  ├─tigeros-swap 253:3    0  7.5G  0 lvm
  ├─tigeros-home 253:4    0 21.6G  0 lvm
  └─tigeros-root 253:5    0 44.3G  0 lvm

[2017-11-01 04:20] ct-martin commented on #67
Did some updating, still will be a WIP as build process is still being remade.

[2017-11-03 15:10] ct-martin commented on #59
Done.

[2017-11-03 15:10] #59 closed

[2017-11-03 15:16] ct-martin opened #68 "Make Dash to Dock in UI tweaks"
We should either have Dash to Dock depended by a ui-tweaks package or similar (so gets added to builds, however, we decided that the repackaging should be pure and that config stuff for repackaged packages should be in another package, such as a ui-tweaks/similar).

[2017-11-03 15:39] axk4545 commented on #58
Will check @AdamWill on any issues the logs may reveal

[2017-11-03 15:47] axk4545 commented on #58
@Tjzabel's install was accidentally done in BIOS mode

[2017-11-03 17:18] Josh1147582 commented on #58
I installed the latest build (linuxmodder.iso) in Virtualbox, forcing EFI. `program.log` indicates that `grub2-mkconfig` is returning a nonzero status:

[](https://i.imgur.com/qCE4Llu.png)

When I looked in `/boot/efi/EFI/` after the install, there was no `tigeros` directory. I'm guessing this is the issue.

The `grub2-efi` package creates `boot/efi/EFI/fedora` automatically. If the issue is our E

[2017-11-04 02:00] axk4545 commented on #68
Added initial skeleton spec

[2017-11-04 02:02] axk4545 commented on #58
@Josh1147582 Let us know if it work and we can make the fix.

[2017-11-04 02:05] axk4545 commented on #68
dependent on #57, #45 and #46 being completed of patches for them being added to the issues

[2017-11-04 02:07] axk4545 commented on #65
waiting to hear back from adviser about licensing before pursuing further

[2017-11-04 02:15] AdamWill commented on #58
Ah, that's a reasonable theory. Other install classes that change `efi_dir`, I think, come along with a different set of bootloader packages that provide the appropriate directory. E.g. RHEL changes it to (I think) "redhat", and of course ships with grub2 packages that provide bootloader bits in `/boot/efi/EFI/redhat`.

[2017-11-04 02:17] axk4545 commented on #58
@AdamWill so do we have a need to keep it as TigerOS as far as conflicting or IP stuff? It would be nice to not repackage grub stuff

[2017-11-04 02:19] AdamWill commented on #58
I can't speak Officially Legally, but I'd be really surprised if we considered that a branding violation. Obviously if you want to be *parallel installable* with real-Fedora, changing it is useful.

[2017-11-04 02:20] axk4545 commented on #58
@AdamWill ok. will talk it over with @RITlug/tigeros-team

[2017-11-05 07:17] ct-martin opened #72 "Docs/New Site Fixes"
Putting in an issue until I get a chance to do them

- Fix order of JS scripts
- Make the header background a real image embed instead of CSS trickery
- Make Popper JS from a CDN

[2017-11-07 23:25] ReginaTL commented on #57
Wallpapers! Of course other people are more than welcome to come up with stuff but I made two so far that I like. Personally I prefer the greyscale penguin one but please let me know what you guys think of them.
![wallpaper2-dark](https://user-images.githubusercontent.com/15071353/32523228-603fc5f0-c3e8-11e7-98b3-e01ac3f74c22.png)
![wallpaper3-dark](https://user-images.githubusercontent.com/150713

[2017-11-08 00:31] ct-martin commented on #57
@ReginaTL Not a fan of the mottled greyscale one, the plain grey one is amazing though. There is an issue with at least one of them not being horizontally centered, but otherwise looks good

[2017-11-08 18:15] axk4545 commented on #57
👍 to that second one. @ReginaTL can you PR these in or otherwise add them to the repo and let me know when they are there so I can change the backgrounds package as needed? or you can rebuild it if you want.

[2017-11-10 16:20] axk4545 commented on #29
Test with standard web server directory since that should have proper selinux context

[2017-11-10 16:31] axk4545 commented on #68
get dconf or gsettings keys for dash to dock and gnome tweaks for @ctmartin

[2017-11-10 16:33] axk4545 commented on #46
manually set for public demos  until implement tweak

[2017-11-10 16:34] axk4545 commented on #45
manually set for public demos until tweak implemented

[2017-11-10 17:05] axk4545 commented on #58
http://pkgs.fedoraproject.org/cgit/rpms/grub2.git/tree/grub2.spec?h=f22
So it appears that GRUB sets the efidir at build time in the specfile. Would be nice to see if this can be split out.

[2017-11-13 19:28] Tjzabel commented on #55
I have a base design for the UI completed. However, this will not be able to be finished by this Saturday for the Maker Faire. I may remove this issue from the milestone. Thoughts?

[2017-11-13 19:30] Tjzabel commented on #28
Anyone have any further information on this topic? I have tried this quite a few times, and it works as advertised. However, I have only tested on one machine. Has anyone else been able to test this on their own hardware?

[2017-11-13 19:58] ct-martin commented on #55
I think you should keep working on it (as time permits) and on Friday we
can decide. Depending on how far it gets we could leave it on there as a
"for people who are really interested" thing. Pinging @axk4545 @jflory7
since they have more experience in this kind of stuff.

--
Christian Martin

On Mon, Nov 13, 2017 at 2:28 PM, Tim Zabel <notifications@github.com> wrote:

[2017-11-13 20:20] Tjzabel commented on #55
@ct-martin @axk4545 @jflory7 I agree. I am going to be working on this until completion, but we won't be able to get a model ready for the Maker Faire.

We are going to need to set up a model on how to incorporate the code of the GUI into this repository. There are dependencies needed, and so I'm trying to figure out the best way to set this up so if others want to contribute, they are able to pul

[2017-11-13 20:35] axk4545 commented on #55
Sounds good. If we can have a window with the elements as an example of the
UI  for Saturday that would be cool.

Aidan Kahrs
abkahrs@gmail.com

On Nov 13, 2017 3:20 PM, "Tim Zabel" <notifications@github.com> wrote:

[2017-11-15 00:34] axk4545 commented on #57
@ReginaTL please PR these changes in or otherwise get them to me so they can be integrated in to.

[2017-11-15 00:52] axk4545 commented on #57
Going to close as changes were merged.

[2017-11-15 00:52] #57 closed

[2017-11-15 00:57] axk4545 commented on #28
@Tjzabel I can test on my TigerOS  install. It does seem to be functioning. We can merge this with the GTK UI issue #55 unless it comes back up

[2017-11-15 00:57] #28 closed

[2017-11-15 02:39] ct-martin opened #75 "Fix dark backgrounds"
Off-center issue still exists. Additionally, you need the font installed on your system to render it correctly, could we have 1080p renders?

cc @axk4545 @ReginaTL

[2017-11-15 02:40] jflory7 opened #76 "Publish TigerOS website by Nov. 18"
# Summary

The TigerOS website needs to be hosted on the public web so we can point people at our project in time for Mini Maker Faire on Saturday, Nov. 18th.

# Background

@jrtechs helped create our website in #69. All background details for the website are found in that PR.

# Details

The website is a helpful resource to point people at in an exhibition hall, and also is a more "friendly" take

[2017-11-15 02:44] ct-martin opened #77 "Nicer looking GNOME appearance"
(on behalf of @Tjzabel )

- [x] GNOME Dark Theme by default (arc-dark?)
- [x] Paper icon theme (by default)
- [x] Better/different default font (Overpass?)
- [x] Dash to dock defaults all working

My notes:

- ~Rumor of issues with dark theme and Firefox. Also, does this affect 57?~
- ~Liberation Sans as default Document font~

[2017-11-15 02:52] ct-martin commented on #76
@jflory7 Not actually an infrastructure issue, we're going to run it off GitHub Pages (or at least that _was_ the plan...)

Reassign to @axk4545 + you?

[2017-11-17 17:23] ct-martin commented on #68
As per discussion in meeting, the dash to dock settings in the file are the
global defaults, not for a specific user. I am proposing that we override
it to our defaults in the ui-tweaks package(-to-be).

--
Christian Martin

On Fri, Nov 10, 2017 at 11:31 AM, Aidan Kahrs <notifications@github.com>
wrote:

[2017-11-17 18:20] axk4545 opened #79 "Permanent UEFI fix"
Work with upstream Fedora and parallel project Korora to get a permanent fix for the issue with UEFI boot and the anaconda-installclass related to the location of grub boot files.

They are currently in `/boot/efi/EFI/fedora` and are placed there by the `grub2` package from upstream Fedora. This prevents dualbooting Fedora with TigerOS as that directory is used by both OSes and installing either a

[2017-11-17 18:23] axk4545 commented on #58
We have implemented a temporary fix with #71 and opened #79 to track making a more permanent fix

[2017-11-17 18:23] #58 closed

[2017-11-17 18:34] jflory7 commented on #76
We discussed this in the meeting today. I'm waiting for the DNS record to propagate. Planning to have this ready in time for tomorrow, otherwise we'll abandon the subdomain and use the previous set-up. I will close this issue once I have figured out a solution.

[2017-11-17 18:36] axk4545 opened #80 "Remove/merge nightly branch when we move prod builder to new CI"
Reminder issue to track progress of CI and remember to remove/merge nightly branch once the CI is stable and ready to deploy to our main build server

[2017-11-17 18:43] axk4545 commented on #45
@Tjzabel low priority but adding a comment so we know next steps.

We need to find the config file for GDM and make a patchfile that we can add to the UI tweaks package to point at the new lockscreen image. the path to the image can be found in the backgrounds package but should be `/usr/share/backgrounds/tigeros` or a subdir of that.

[2017-11-17 18:48] axk4545 commented on #46
@Tjzabel adding notes on next steps here as well. Again, this is low priority but I want the notes so we can come back to it.
We should add a gschema  override like we did for the wallpaper to set the key. This will be part of our UI tweaks package.

[2017-11-17 22:17] Tjzabel commented on #55
After the meeting today, we have decided not to include the GTK UI in the Maker Faire. Tentative release for a fully working product is during winter break.

Current progress: ironing out the design layout. I also need to figure out the best way to include the GTK UI within the tigeros repository.

Current thought process:
1. Create design layout
2. Implement design
3. Add functionality
4. Merge f

[2017-11-18 20:36] Tjzabel commented on #76
Website is up!

Any other information needed or can we close?

[2017-11-18 21:16] jflory7 commented on #76
Yes, @jflory7 did a dumb and set the record to `ritlug.tigeros.com` instead of `tigeros.ritlug.com`. This is fixed now and the site works as expected! Whooo!

Closing as fixed.

[2017-11-18 21:16] #76 closed

[2017-11-18 21:22] jflory7 opened #81 "Make website images same size"
# Summary

Make the three logos we use at the bottom of our website (RITlug logo, GitHub, Open Source Initiative) all the same size

# Details

The size of the three images isn't consistent and it makes the spacing a little old when they're viewed horizontally.

![Three images not symmetrical](https://user-images.githubusercontent.com/4721034/32984847-200b8e14-cc7c-11e7-9e19-41168b58db26.png)

The

[2017-11-20 22:54] jflory7 opened #83 "Fix website download link"
The website's "Download" buttons point to `tigeros.ritlug.com`. Since we moved the site, the downloads are going to be moved elsewhere. The website download buttons should point to the new download source.

[2017-11-20 23:04] axk4545 commented on #83
This is true. @ct-martin or @jrtechs want to grab this real quick?

Aidan Kahrs
abkahrs@gmail.com

On Nov 20, 2017 5:54 PM, "Justin W. Flory" <notifications@github.com> wrote:

[2017-11-20 23:05] axk4545 commented on #83
Actually, we decided to leave it until we have a viable download to provide
when @Tjzabel and I talked at makerfaire

Aidan Kahrs
abkahrs@gmail.com

On Nov 20, 2017 5:54 PM, "Justin W. Flory" <notifications@github.com> wrote:

[2017-11-20 23:27] jflory7 commented on #83
@axk4545 We need to point people somewhere. The link right now points people back to the same page they're on. If we don't want to point people anywhere, then we need to remove the button.

I'm going to link the website in an upcoming article on the Maker Faire, so it's important this is taken care of soon (one way or the other).

[2017-11-20 23:32] axk4545 commented on #83
Ok. For now let's remove the button and replace it with a note saying they
aren't quite ready yet. Or leave it and point at a simple page with the
same message in the website repo.

Aidan Kahrs
abkahrs@gmail.com

On Nov 20, 2017 6:27 PM, "Justin W. Flory" <notifications@github.com> wrote:

[2017-11-20 23:43] jflory7 commented on #83
@axk4545 I would opt for removing the button and adding a note to the page saying that ISO downloads are not yet stable.

Keep in mind that this is also a barrier for people who want to test it and see what we're up to. I imagine some people would want to take the ISO to put into a virtual machine and see what we're doing.

[2017-11-21 02:58] axk4545 commented on #83
@jflory7 getting our most stable ISO up soon and will fix link

[2017-11-26 05:22] ct-martin opened #86 "Flory copy-pasted the issue template"
There are still references to MobArena in the issue template (cc @jflory7 )

[2017-11-26 05:34] ct-martin opened #87 "[TRACKING] Live USBs failing self-check"
As mentioned in the meeting, I've observed issues when building ISOs where the boot media is unusable. There has not been consistency in the building, copying, writing, or any other aspect of the ISO building. Upon re-running one of those steps after the issue is detected, it works perfectly fine with no issues (so seems to be random chance?). This issue is to track successful/failed builds. Helpf

[2017-11-28 05:09] ct-martin commented on #81
cc #72

[2017-11-28 15:02] jflory7 commented on #72
@ct-martin I would suggest breaking this ticket into separate, smaller tickets. Doing this does two things:

1. Makes it easier for others to see tasks that need help (esp. if marking some as "easyfix" tasks)
2. Makes it easier to track and measure concrete progress

My rule of thumb for filing new tickets is to try to have a clear idea of what "done" looks like.

[2017-11-29 21:46] ReginaTL commented on #77
A note on arc dark - it's awesome for the DE stuff but the arc firefox themes are out of date with the new firefox quantum. You would have to use the default theme, which looks much nicer nowadays and uses square tabs, like the arc themes. I forget how I made mine dark sadly.

[2017-12-01 01:52] ct-martin commented on #83
This was fixed with #85

[2017-12-02 05:17] #72 closed

[2017-12-02 05:22] ct-martin commented on #81
PR didn't autoclose, fixed in #88

[2017-12-02 05:22] #81 closed

[2017-12-02 23:09] jflory7 commented on #83
This download button still links to the old domain.

![Download button points to tigeros.ritlug.com](https://screenshots.firefoxusercontent.com/images/30ae3dcb-6c2e-45d8-804e-25b1cf27347a.png)

[2017-12-02 23:16] axk4545 commented on #83
I think it may have been reverted. Also don't see the new ISO from @jhb2345
up there so I don't know if that was ever uploaded. Once it is up I will
put it in the right place and fix this link.

On Sat, Dec 2, 2017 at 6:09 PM, Justin W. Flory <notifications@github.com>
wrote:

[2017-12-02 23:17] jflory7 commented on #83
@axk4545 The "Download" link at the top of the page points to `builder.ritlug.com`, but not the "Download" button in the middle of the page. This should be a 30-60 second fix. But we have the right link and wrong link live on the same page right now.

[2017-12-03 01:23] axk4545 commented on #83
@jflory7 fixed by latest commit

[2017-12-03 01:23] #83 closed

[2017-12-08 16:23] axk4545 opened #92 "Rework scripts package and add upgrade path"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Split scripts out into per package/software installers that can be used. Link packages into categories with metapackages. Also add upgrade path.

# Background

### Bug report

### Feature request

**What does it do?**:
More close

[2017-12-08 16:35] jflory7 commented on #55
_Discussed in our [weekly meeting](https://github.com/RITlug/TigerOS/wiki/Next-meeting-agenda)._

## GTK implementation for repo

* Will we have other sources?
* What package name to use? (`tigeros-setup-wizard`, `tigeros-software-selection`, etc.)
* Do we want to make it more than a manager and tie all of our customizations to a single package with sane defaults? Or the meta-package approach?

Th

[2017-12-08 17:12] jflory7 commented on #65
_Discussed in our [weekly meeting](https://github.com/RITlug/TigerOS/wiki/Next-meeting-agenda)._

## Re-evaluate third-party packages

We want to re-evaluate our approach to third-party software in TigerOS. We don't want to make too much work for ourselves to maintain custom changes. The cost of maintaining this isn't worth the benefit of including it in TigerOS.

Next, we want to follow up with t

[2017-12-08 17:16] jflory7 commented on #68
_Discussed in our [weekly meeting](https://github.com/RITlug/TigerOS/wiki/Next-meeting-agenda)._

## Converting suggestions to code

@ct-martin has screenshots of some config settings for Dash to Dock that he liked. We need to convert the screenshots into scripts to configure Dash to Dock with our changes.

Some notes to consider:

* Need to discuss how to override default settings
* Package shoul

[2017-12-08 17:19] jflory7 commented on #75
_Discussed in our [weekly meeting](https://github.com/RITlug/TigerOS/wiki/Next-meeting-agenda)._

## Need updated rendered dark backgrounds

The dark background wallpapers are slightly off-center and need a minor tweak to center them. Other team members had issues getting the fonts or they would update it themselves (since we only have vector images now).

@ReginaTL, could you export new, rendered

[2017-12-08 17:20] jflory7 commented on #77
_Discussed in our [weekly meeting](https://github.com/RITlug/TigerOS/wiki/Next-meeting-agenda)._

## Implementation to be created over break

The next steps for this ticket are to convert the three suggestions above (themes / font) into an implementation in TigerOS. @ct-martin agreed to work on this over break, and then we will review as a team at our first meeting in January to check back in.

[2017-12-08 17:23] jflory7 commented on #87
_Discussed in our [weekly meeting](https://github.com/RITlug/TigerOS/wiki/Next-meeting-agenda)._

## Blocked by…

This ticket is blocked by the CI environment not generating ISOs to run an install with the USB media.

## Tracker ticket: Update with changes

This ticket is low priority for now, but if anyone runs into a new issue or has feedback, **add a comment** to this ticket and **update the ta

[2017-12-08 17:39] ct-martin commented on #55
Correction: The `tigeros-manager` name suggestion was because currently the
UI only is for doing package installation, but we want to at least leave
open the option to do other things later (for example, allowing a user to
install defaults for programs that might be closer to what they're coming
from) in order to help further our end goal of making Linux easier for RIT
Students, particularly new u

[2017-12-08 17:40] ct-martin commented on #77
Correction: This falls under @Tjzabel's action item for GNOME, not mine.

--
Christian Martin

On Fri, Dec 8, 2017 at 12:20 PM, Justin W. Flory <notifications@github.com>
wrote:

[2017-12-08 17:43] ct-martin commented on #68
Correction: This is under @Tjzabel's GNOME action item.
Also, a slight detail thing, the ui-tweaks package must *make its changes*
after the dash-to-dock install, although this should be covered by the
dependency. Worst case we can do this with a bunch of `sed` commands,
however, we'd like a better solution than that, such as something to do
with dconf and/or gconf.

--
Christian Martin

On Fri, D

[2017-12-08 18:25] axk4545 commented on #68
Well dconf or gsettings. gconf is deprecated

Aidan Kahrs
abkahrs@gmail.com

On Dec 8, 2017 12:43 PM, "Christian Martin" <notifications@github.com>
wrote:

[2018-01-09 23:27] Tjzabel commented on #77
## Update

GTK Dark theme script has been implemented. Paper icon theme set script has also been created.
These commits exist on my own [fork](https://github.com/Tjzabel/TigerOS/tree/user-interface/sources/tigeros-scripts/tigeros-scripts-1.0) and are not yet a part of the main TigerOS build.

We (the TigerOS team) need to decide on the default TigerOS look, where the code for these changes should

[2018-01-10 02:35] ct-martin commented on #77
@Tjzabel personally have a hard time "seeing" what it looks like from the config files, if you have a screenshot I'd appreciate it. For implementing, this should go in UI-tweaks rather than scripts, and also be part of the package. Also would like to second that we should discuss when we get back.

[2018-01-24 20:07] ct-martin opened #93 "Wiki page for branches"
# Summary

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [x] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Too many branches without descriptions

# Background
We have many feature branches needed for dev environment & CI-related tasks. Need docs to explain the purpose of each branch.

# Details

[code]

[2018-01-24 21:41] KST123ABC commented on #68
dconf https://micheleg.github.io/dash-to-dock/download.html

[2018-01-31 20:03] Tjzabel commented on #75
Most of these issues seem to have been resolved at this point. Closing this issue until further notice.

[2018-01-31 20:03] #75 closed

[2018-01-31 20:19] Tjzabel opened #96 "Add Design Documentation"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Currently there is no documentation for any of our design process. For our wallpaper SVG's, we use the Roboto font, so if others wish to use the svg, but don't have this font installed, this may be an issue.

# Background

### Fe

[2018-01-31 20:29] ReginaTL commented on #96
Unless there are any complaints I will put the info in the [TigerOS Development](https://github.com/RITlug/TigerOS/wiki/TigerOS-Development) page in the wiki.

[2018-01-31 20:45] Tjzabel commented on #46
Command to change clock to 12h:

`gsettings set org.gnome.desktop.interface clock-format 12h`

[2018-01-31 21:00] ct-martin commented on #96
@ReginaTL Please make a new page and add it to the sidebar, if you need help with this, ping me. Also, if you'd include a note for the location of the `design-assets/` folder with that it contains the project files, as well as where the rendered versions go (aka the backgrounds package), that would be helpful.

[2018-01-31 22:08] Tjzabel commented on #46
Current status on this issue: Commit has been added and is now set for testing.

If testing completes, and works without error, I will be closing this issue. If not, I will update this comment with the errors.

[2018-02-04 00:09] ct-martin commented on #96
@ReginaTL I was importing some notes into the wiki and created a page for you while I was at it:
https://github.com/RITlug/TigerOS/wiki/TigerOS-Design

[2018-02-04 00:26] ct-martin commented on #93
Added to https://github.com/RITlug/TigerOS/wiki/TigerOS-Development

[2018-02-04 00:26] #93 closed

[2018-02-04 00:28] #86 closed

[2018-02-04 00:32] ct-martin commented on #67
Sidebar and main development (subsection) page have been updated with new content, the old building docs have been moved to links on the new page and marked as legacy. Also removed the unneeded UNIX permissions guide from the wiki homepage as this can easily be looked up. I'm going to leave this issue open for now since this work isn't complete.

[2018-02-04 00:38] ct-martin commented on #80
I'm closing this issue as we have now adopted the usage of feature branches and should consider the deletion of these branches when we merge them as part of the workflow (as opposed to making issues for each branch). I also added a reminder about this on the development subsection homepage on the wiki. Should a branch not get deleted when it gets merged, then opening an issue would be appropriate

[2018-02-04 00:38] #80 closed

[2018-02-04 00:48] ct-martin commented on #77
I'm going to propose Roboto and Noto Sans as good fonts to replace the default with. I'd also like us to make sure that the default themes aren't removed in the process (removed != !default). @Tjzabel since you have arc-dark working, can you confirm if the dark theme issue affects Firefox 57+? Finally, the comment on Liberation Sans can be ignored, it's no longer a concern for me.

[2018-02-04 01:38] Tjzabel commented on #77
@ct-martin Roboto sounds good. And I have used the regular GTK3 dark theme. Feel free to check out my repo [here](https://github.com/Tjzabel/TigerOS/tree/user-interface/sources/tigeros-ui-tweaks). However, I have tested and checked Firefox 57 using the dark theme, and there are no issues with text boxes showing up dark as there has in the past. The default themes are not removed at all, simply cha

[2018-02-04 01:55] ct-martin commented on #77
I would propose moving this to a feature branch in the main repo for the
sake of convenience and clarity ;)

--
Christian Martin

On Sat, Feb 3, 2018 at 8:45 PM, Tim Zabel <notifications@github.com> wrote:

[2018-02-04 02:00] Tjzabel commented on #77
@ct-martin I may. For the sake of clarity as well for others, I will probably end up putting the UI improvements into the devel branch to keep our project from getting too many unnecessary branches.

[2018-02-05 18:46] Tjzabel commented on #92
As an update to this issue:

Currently @Josh1147582 has reworked the JFLAP script into an rpm. Other scripts will be following.

[2018-02-05 18:51] Tjzabel commented on #68
Issue update:
Currently we are trying to figure out how to create a new schema. When enabling dash-to-dock, a new dconf schema is created, and the appropriate key is appended to the end. It is proving to be a challenge to create a brand new schema, and then append the correct key.

[2018-02-09 02:07] axk4545 commented on #29
New idea for RPMs, GitLab runner on buildbox that talks to the GitLab.com instance of the project and does per branch rebuilds. we can use the `only` option to restrict the branches and then jsut script the generation of tarballs and the building. thoughts @jflory7 @RITlug/tigeros-team ?

[2018-02-09 14:32] jflory7 commented on #29
We briefly discussed in the TigerOS Slack channel.

I am +1 to creating an individual repo for each unique package that we create.

This follows best practice in the same way that Fedora does packaging with [dist-git](https://src.fedoraproject.org/). Packages are easier to find and maintain individually – putting each unique package into a new branch is an uncommon practice and I think is liable t

[2018-02-09 15:52] axk4545 commented on #29
So I am talking with @ritjoe a little and he was favoring the idea of one package per repo. We would still need to workout a way to hook our builder up to github or gitlab or w/e so that it can trigger tasks on a push. Maybe we also take this as an opportunity to establish a RITlug presence on gitlab.com

[2018-02-10 19:00] axk4545 commented on #29
Ok. so I know this is getting stupid. anyway I found [http://frostyx.cz/posts/copr-stack-dockerized](http://frostyx.cz/posts/copr-stack-dockerized ) and [https://pagure.io/copr/copr/blob/master/f/rpmbuild](https://pagure.io/copr/copr/blob/master/f/rpmbuild).
I talked to the maintainer and he is willing to add a feature to `copr-rpmbuild` to allow it to talk directly to the builder container and ru

[2018-02-11 02:40] jflory7 commented on #29
@axk4545 I'm not informed enough to add much here. I'm still opposed to having us run our own Copr instance, but I trust you all to make the right decisions for the project.

[2018-02-13 15:28] ct-martin commented on #77
I am going to maintain that this should be in a feature branch since this
isn't ready for a package yet. I'm going to add this issue to the meeting
on Wednesday and we can discuss it then since this debate probably will be
irrelevant with the new packages.

--
Christian Martin

On Sat, Feb 3, 2018 at 9:00 PM, Tim Zabel <notifications@github.com> wrote:

[2018-02-13 15:32] Tjzabel commented on #77
I will want to discuss this. I do not feel it should be in its own branch. However, I currently have UI tweaks in a branch of its own on my own fork [here](https://github.com/Tjzabel/TigerOS/tree/user-interface/sources/tigeros-ui-tweaks/tigeros-ui-tweaks-1.0).

Good topic for discussion. @ct-martin ++

[2018-02-14 21:28] ReginaTL commented on #96
Okay [take a look](https://github.com/RITlug/TigerOS/wiki/TigerOS-Design) to see if you see any other issues because otherwise I'm pretty sure I got it.

[2018-02-15 23:56] axk4545 commented on #29
Playbook to setup a COPR build can be found at: [https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/copr/backend/files/provision/provision_builder_tasks.yml](https://infrastructure.fedoraproject.org/cgit/ansible.git/tree/roles/copr/backend/files/provision/provision_builder_tasks.yml)

[2018-02-16 00:13] axk4545 commented on #29
Here are the links to the COPR for copr-rpm-build-cmdline and a git repo with the source:

COPR: [https://copr.fedorainfracloud.org/coprs/clime/copr-rpmbuild-cmdline/](https://copr.fedorainfracloud.org/coprs/clime/copr-rpmbuild-cmdline/)

git: [https://github.com/axk4545/copr-rpmbuild-cmdline](https://github.com/axk4545/copr-rpmbuild-cmdline)

[2018-02-16 18:42] axk4545 commented on #29
Working on automating deployment of builder with Ansible. May revert to Docker if needed since that is premade.
Attaching relevant IRC logs
[COPR_plan.txt](https://github.com/RITlug/TigerOS/files/1732438/COPR_plan.txt)

[2018-02-16 19:13] axk4545 commented on #29
Command example on builder: `copr-rpmbuild scm --clone-url https://pagure.io/rpkg-client --chroot fedora-27-x86_64`

[2018-02-18 19:49] ct-martin commented on #96
I see no issues, closing
@gen1e++

[2018-02-18 19:49] #96 closed

[2018-02-20 13:43] axk4545 opened #98 "Add Vagrantfile for development"
# Summary

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
We should create a Vagrantfile to setup a development environment in a cross-platform way

# Background

### Feature request

**What does it do?**:
Cross-platform development environment.
**Does it need new or changed commands? W

[2018-02-21 20:52] gen1e commented on #77
On cinnamon the dark theme is somewhat broken, fields on web browsers and external programs have problems displaying. We need to check the next time we actually have a build that GNOME doesn't have the same bug.

[2018-02-28 21:00] gen1e opened #99 "Potential Survey to focus our audience/get some data/feedback"
# Summary
As we discussed in the meeting, it may be advantageous to get some feedback on some of our features. To get an idea of interest in using TigerOS and potential/current features. We can put it out on the internet and try to get our professors to get it mentioned in class and spread it around as much as possible.

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [x] O

[2018-03-01 14:22] axk4545 opened #100 "Document procedures that only exist in our heads"
# Summary

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:

# Background

### Feature request
We have a bunch of procedural and policy documentation that we have decided on but is not documented anywhere.
**What does it do?**:
Add documentation.
**Does it need new or changed commands? Wh

[2018-03-02 16:26] Tjzabel commented on #35
In order to fix this issue, wallpapers need to be installed to `/usr/share/backgrounds/gnome/` from [this](https://github.com/RITlug/TigerOS/blob/devel/sources/tigeros-backgrounds/tigeros-backgrounds.spec) spec file. Currently this file does not install our wallpapers to this location.

[2018-03-02 16:27] Tjzabel commented on #35
Since we have just created a new ISO, I would like to confirm the correct path

[2018-03-02 16:37] Tjzabel commented on #98
@axk4545  Has this issue been worked on? I would love to see how Vagrant differs from Docker in terms of development and work flow.

[2018-03-02 16:38] Tjzabel commented on #87
I would love to get more information on this issue since we now have a more updated ISO release. It is possible this issue does not need to be here, since we have not had any problems with using USB's in quite a while

[2018-03-03 01:44] Tjzabel commented on #35
This issue has been tested. Closing.

[2018-03-03 01:44] #35 closed

[2018-03-03 01:44] Tjzabel commented on #46
Tested and fixed.

[2018-03-03 01:44] #46 closed

[2018-03-03 01:45] Tjzabel commented on #77
Update: dark-theme and paper icon themes have been tested and are working. Currently awaiting dash-to-dock fixes before making the general UI tweaks considered finished.

[2018-03-03 04:27] #68 closed

[2018-03-03 16:30] ct-martin commented on #87
@Tjzabel We also haven't been building \*anything* in a while. I think that if we don't have any issues before we're ready for a stable, push-to-master release then we can close it, but I'd like to let it hover for a little longer.

[2018-03-07 01:33] ct-martin opened #102 "Update build scripts to f27"
PR changes that **have already been made** but are not yet in the repo:
* Build an f27 iso

@CoffeeFrame @axk4545

[2018-03-07 01:35] Tjzabel commented on #102
What do you mean the PR changes are not yet in the repo?

[2018-03-07 01:51] ct-martin commented on #100
Added to wiki (with approval from @axk4545 ):
* Policy for adding new members
* Splitting of the web server and build host
* Policy for access to the web server and build host

Closing issue

[2018-03-07 01:51] #100 closed

[2018-03-07 01:52] ct-martin commented on #99
I think a fuller UX analysis of the project would be a good idea. Talk more about this after break.

[2018-03-07 20:13] ct-martin commented on #29
Having issues with Jenkins, looking into GitLab Runner

[2018-03-07 20:30] ct-martin commented on #55
UX suggestion from kinri: show commands as they are being executed

[2018-03-07 20:49] axk4545 commented on #55
Reference metapackage: https://src.fedoraproject.org/rpms/qt5/blob/master/f/qt5.spec

[2018-03-07 20:56] ct-martin commented on #67
#100 was completed as part of this

[2018-03-07 20:56] ct-martin commented on #67
Currently up to date with build procedures, will continue to update (inc. with @axk4545 & @CoffeeFrame changes for building)

[2018-03-07 20:57] ct-martin commented on #67
Also, will be updated due to change of plans in #29 as part of ^

[2018-03-07 20:58] ct-martin commented on #87
Official meeting statement: Will be closed if no issues before first release. May vote at end of semester if frequent building and this has not been an issue.

[2018-03-07 21:04] axk4545 commented on #55
[comps.txt](https://github.com/RITlug/TigerOS/files/1790860/comps.txt)
How do do comps in more detail

[2018-03-09 03:55] Tjzabel commented on #102
I have updated all build scripts to f27. Please review. I will be closing this issue 24 hours from now

[2018-03-09 04:04] Tjzabel opened #103 "GNOME Screenshots"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Currently there are no screenshots available for the GNOME Desktop Environment.

# Background

### Feature request

**What does it do?**:
Allows users to have an understanding of what the GNOME Desktop Environment looks like.

**

[2018-03-09 04:04] Tjzabel commented on #43
Moving this issue over to #103

[2018-03-09 04:04] #43 closed

[2018-03-09 04:09] Tjzabel opened #104 "RIT Wallpapers"
# Summary

* This issue is a…
    * [ ] Bug report
    * [ X ] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
It would be nice to have photos of RIT in addition to the TigerOS backgrounds currently available.

# Background
Currently there are only slight variations of the same wallpaper. It would be nice to have a more professional arr

[2018-03-14 22:09] #102 closed

[2018-03-17 01:15] Tjzabel commented on #77
What exact default font should TigerOS use? @axk4545 @ct-martin

[2018-03-17 17:37] ct-martin commented on #77
Roboto, Noto Sans, or Overpass. IIRC we were liking the idea of Overpass at
the last meeting.

On Mar 16, 2018 9:15 PM, "Tim Zabel" <notifications@github.com> wrote:

What exact default font should TigerOS use? @axk4545
<https://github.com/axk4545> @ct-martin <https://github.com/ct-martin>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https:

[2018-03-21 20:50] ct-martin opened #106 "Proper/cleaner contributing guidelines"
* Acknowledge license explicitly
* Add to all other repos
* General rewrite/cleaning?

[2018-03-27 13:03] axk4545 commented on #98
Added in #107

[2018-03-27 13:03] #98 closed

[2018-03-27 13:04] axk4545 commented on #29
We now have IP addresses and can provision the webhost

[2018-03-31 14:47] jwflory opened #108 "Add IRC channel to website"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**: Add the `#rit-tigeros` channel to the website, so other people interested in the project can find out where development discussion is

# Background

It will help direct interested people in the project to the development discussi

[2018-03-31 15:41] Tjzabel opened #109 "Default TigerOS Look"
# Summary

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [ ] Other issue
    * [X] Question
* **Describe the issue / feature in 1-2 sentences**:
Currently we have two default UI looks. The first is an orange wallpaper with the arc-dark theme.
The second look is a dark wallpaper with a default dark gnome theme.

# Background

### Feature request

**What does it do?**:
Allo

[2018-03-31 15:42] Tjzabel commented on #103
![tigeros_dark](https://user-images.githubusercontent.com/22552344/38164837-83c1e2ea-34d8-11e8-92aa-88f02ae2c750.png)

![tigeros_tweaks](https://user-images.githubusercontent.com/22552344/38164839-870d47b4-34d8-11e8-821f-c85652539200.png)

![tigeros_orange_background](https://user-images.githubusercontent.com/22552344/38164841-945fb730-34d8-11e8-8016-b7ac56003b18.png)

![tigeros_website](https://u

[2018-03-31 15:43] Tjzabel commented on #103
@ct-martin @axk4545 @gen1e Any further screenshots you would like to have for TigerOS?

[2018-03-31 15:56] Tjzabel opened #110 "Export the TigerOS SVG logo as a PNG."
# Summary

Currently, we don't have any images of the TigerOS logo. This would be very handy when doing presentations so we can display our logo properly.

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
There are no images available for the TigerOS logo.

### Feature request

**What doe

[2018-03-31 15:57] Tjzabel commented on #87
We have had no issues with this occurring.

[2018-03-31 15:57] #87 closed

[2018-03-31 15:58] Tjzabel commented on #67
@ct-martin @axk4545 Have the Development Dos been successfully rewritten?

[2018-03-31 16:00] axk4545 commented on #67
not as of yet. still in progress.

On Sat, Mar 31, 2018 at 11:58 AM, Tim Zabel <notifications@github.com>
wrote:

[2018-03-31 16:12] Tjzabel commented on #99
# Update
We currently have a link to a survey! We are currently discussing the best way to spread this survey out to our potential users.

[2018-03-31 16:18] gen1e commented on #99
Nope that is not the survey for this issue that is a different survey I'm working on thats more detailed. I thought the TigerOS talk would be more of a demo so the link you have was more for that in case you wanted to have a survey instead of taking notes.

[2018-03-31 16:46] Tjzabel commented on #108
@jflory7 Great issue. I am not entirely sure where the best place to host information on how to get in touch with the devel team. I don't particularly like adding the IRC tag to the "What is TigerOS" section because I don't feel it fits there.

Another possible location could be underneath the RITlug  | GitHub | Open Source section? Our website is going to be updated in the near future. Most porti

[2018-03-31 16:51] axk4545 commented on #109
Personally I like the first option

[2018-03-31 16:52] axk4545 commented on #103
I can't think of any off the top of my head...

[2018-03-31 17:56] jflory7 commented on #109
I also prefer the first option.

[2018-03-31 17:58] jflory7 commented on #103
@Tjzabel I like all the ones you provided. I would sort the images on the website based on the outcome of #109, so the default appears first.

I might also include a screenshot of the install scripts to pull RIT-related applications. Even if it isn't super pretty and fancy, the functionality is there and it is cool.

[2018-04-01 05:12] Tjzabel opened #111 "Add TigerOS repo to mirrors"
# Summary
Currently, there is no way for those not using TigerOS to install our repository and run `dnf install tigeros-<package>`.

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [X] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
There needs to be documentation made available on how to install the tigeros.repo so those not using TigerO

[2018-04-01 07:30] Tjzabel opened #113 "Remove dash-to-dock repackaging from RITlug repositories and mirrors website"
# Summary
Since repackaging dash-to-dock, an official RPM has been created for this package. Thus, our repackage is now no longer necessary.

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [X] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:

# Details
The builder.ritlug.com website also currently hosts the repkg dash-to-dock. This can be

[2018-04-01 18:08] axk4545 commented on #113
Done.

[2018-04-01 18:08] #113 closed

[2018-04-01 18:15] Tjzabel commented on #109
We have gone with the first, orange theme.

[2018-04-01 18:15] #109 closed

[2018-04-01 18:15] #103 closed

[2018-04-03 00:05] Tjzabel commented on #110
This as been done [here](https://github.com/RITlug/tigeros-logos/tree/master/tigeros-logos-1.0.0/pixmaps)

[2018-04-03 00:05] #110 closed

[2018-04-03 00:06] Tjzabel commented on #77
Almost done! Changing the default font is the last thing left to do.

[2018-04-03 00:07] Tjzabel commented on #55
## Update
The repo to house the code for the software manager will live [here](https://github.com/RITlug/tigeros-software-manager)

[2018-04-04 19:26] gen1e opened #117 "Add new dark theme Wallpaper"
# Summary
* This issue is a…
    * [ ] Bug report
    * [x] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Want to try a new wallpaper where the background is a mottled grey but with a colored penguin.

# Background
### Feature request

**What does it do?**:
Wallpaper
**Does it need new or changed commands? What are they?**:
no
**Does

[2018-04-04 19:55] gen1e opened #118 "Fix Design Documentation to accomidate new directory structure"
# Summary
* This issue is a…
    * [x] Bug report
    * [ ] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
New directory structure has messed up some of the links in the wiki.

# Background
### Bug report
404 page in Design docs on certain links. Needs to be fixed. Should be easy the places exist just in different places than before.

[2018-04-04 20:06] Tjzabel commented on #111
Currently, it seems we already have an RPM set up to install `tigeros.repo`

However, the RPM needs to be updated. This issue will stay up until the fix has been made.

[2018-04-04 20:10] jflory7 opened #119 "Update "Downloads" link on the TigerOS website"
# Summary

* This issue is a…
    * [X] Bug report
    * [ ] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**: "Downloads" button / link points to a dead web page

# Background

The "Downloads" button points to builder.ritlug.com, which is currently offline.

# Details

Update the link to mirrors.ritlug.com or somewhere where the ISOs are

[2018-04-04 20:29] gen1e commented on #117
Svgs are off center I will fix those too while I'm at it.

[2018-04-04 21:13] Tjzabel opened #120 "Move TigerOS Docs/Wiki into the website after website moves locations."

[2018-04-04 21:14] Tjzabel opened #121 "Create TigerOS Website "About Us" Page"
We only need to write the content not the HTML. Pass on to @ct-martin for translation to HTML.

[2018-04-04 21:15] Tjzabel opened #122 "Split TigerOS website into its own repo out of the TigerOS Master branch."
Make sure tigeros.ritlug.com points to new repo location

Make sure all links within the website act accordingly

[2018-04-05 12:31] axk4545 commented on #29
@RITlug/tigeros-team so I just realized something. We can either have git tag releases for our RPMs or we can just have it build each time there is a push to master. which do we prefer?

[2018-04-09 10:52] jflory7 opened #123 "Plan exhibit for Imagine RIT on Saturday, April 28"
The TigerOS team needs to plan how they want to demo and exhibit the project at Imagine RIT later this month. For more info about RITlug's presence at Imagine RIT, see RITlug/tasks#38.

[2018-04-09 14:54] axk4545 commented on #123
We will cover this at the meeting on Wednesday.

[2018-04-11 19:17] Tjzabel commented on #123
# ImagineRIT Necessities

* Monitor
  * @Tjzabel
* Powersupply/powerstrip
* Spare laptop with TigerOS displaying
  * @Tjzabel or @axk4545
* Keyboard?
  * @Tjzabel may possibly be able to provide

### Footnote
**@axk4545 will be out of town**
* _Laptop will be handed off before he leaves_

[2018-04-11 19:39] axk4545 opened #124 "Move project board for TigerOS to RITlug org level"
This is for @ct-martin

[2018-04-11 20:03] Tjzabel opened #126 "Move TigerOS Default WIki Info to proper locations"
## Wiki Modifications

* [x] Move Homepage info -> Development section
* [x] README.md and #108 should go on wiki home instead.
* [x] Link wiki on website

[2018-04-11 20:05] axk4545 opened #127 "Cleanup branches and codebase to match current progress"
Remove old branches and docs to match the current state of the project.

[2018-04-11 20:07] gen1e commented on #118
Fixed the wallpaper docs with [this revision](https://github.com/RITlug/TigerOS/wiki/TigerOS-Design/e8ade79e868140e7038d3c97149fbd235ed5c2a7)

Fixed the logos docs and finished update to wiki with [this revision](https://github.com/RITlug/TigerOS/wiki/TigerOS-Design/ea48d849810defdc583833f02bc583c0131d3ac5)

[2018-04-11 20:07] #118 closed

[2018-04-12 12:45] axk4545 commented on #108
Moved to wiki and README. thoughts @jflory7 ?

[2018-04-12 12:48] jflory7 commented on #108
@axk4545 I don't see anything new on the website yet.

[2018-04-12 13:03] axk4545 commented on #119
@jflory7 should be fixed by #128

[2018-04-12 13:05] axk4545 commented on #108
@jflory7 We put it in the wiki instead and linked the wiki from the website.

[2018-04-12 16:20] jflory7 commented on #108
@axk4545 I think the wiki and contact information are two different things. I recommend adding a specific link to contact info to the site, even if it is its own wiki page.

[2018-04-12 17:06] axk4545 commented on #108
@jflory7 ok. will figure out where that goes.

[2018-04-12 17:12] axk4545 commented on #126
All done.

[2018-04-12 17:12] #126 closed

[2018-04-12 18:18] #117 closed

[2018-04-12 18:19] axk4545 commented on #77
@Tjzabel Gonna attempt this.

[2018-04-13 00:45] Tjzabel commented on #108
Added per 2b7188f1

[2018-04-18 21:14] ct-martin commented on #124
Done, see https://github.com/orgs/RITlug/projects/2

[2018-04-18 21:14] #124 closed

[2018-04-25 19:27] ct-martin commented on #121
Temporary solution; doesn't fulfill the goal of the issue. Reopening and moving to beta milestone

[2018-04-25 19:43] ct-martin opened #131 "ImagineRIT quick fixes"
* [ ] On mirror, create /TigerOS/latest symlink for current release number
* [ ] Have both download links on tigeros.ritlug.com point to /TigerOS/latest/release
* [ ] Make the link buttons at the bottom of tigeros.ritlug.com visually similar in the text
* [ ] How to download and install TigerOS (not building)
* [ ] Make wiki not have dev instructions on home page; put in content pointing to sideba

[2018-04-25 19:46] ct-martin commented on #123
@Tjzabel is going to do a fresh install on his spare laptop tonight/tomorrow and @axk4545 and I will take a quick second-person look

[2018-04-25 19:48] ct-martin opened #132 "Further UI Additions"
* [x] Overpass as font
* [x] Show date
* [x] 12-hour time
* [x] Battery %

[2018-04-25 19:49] ct-martin commented on #123
Quick fix tickets: #131 & #132

[2018-04-25 23:50] Tjzabel commented on #132
I would like to move this issue to the general Beta release once these "quick fixes" have been established

[2018-04-25 23:51] Tjzabel commented on #77
All done!

[2018-04-25 23:51] #77 closed

[2018-04-25 23:52] #111 closed

[2018-04-26 07:13] ct-martin commented on #132
@Tjzabel Since we were talking about it at FOSS Hours and a couple of these already had related tickets (#77, #46) I had assumed you wanted to do these for ImagineRIT. If you don't have time to get to it, just change the milestone.

[2018-04-28 14:24] ct-martin opened #133 "Look into getting into the GNOME software center"
As of Fedora 28 GNOME supports some third-party software. We should look into getting our stuff in there. If we can, we also won't need to maintain a custom application for installing software, which would allow us to dedicate the time and energy elsewhere.

[2018-04-29 20:56] Tjzabel commented on #123
ImagineRIT went well :+1:

[2018-04-29 20:56] #123 closed

[2018-04-30 14:27] jflory7 commented on #108
I thought about this a bit, and I think a link to the IRC should also go in the header / menu bar. A link to the `#rit-tigeros` Freenode web chat is enough.

https://webchat.freenode.net/?channels=rit-tigeros

[2018-05-08 16:39] Tjzabel commented on #132
## Update

UI additions have been added into [TigerOS UI Tweaks](https://github.com/RITlug/tigeros-ui-tweaks)!

Closing issue.

[2018-05-08 16:39] #132 closed

[2018-05-08 17:27] Tjzabel commented on #45
## Update

Screensaver has been implemented to be [Wallpaper 2](https://raw.githubusercontent.com/RITlug/tigeros-backgrounds/master/tigeros-backgrounds-1.0/wallpapers/wallpaper2-1920x1080.jpg), which is currently also the default background image.

I have added a lot of content in regards to the TigerOS UI, so I am going to put this issue on hold until we _know_ the fix is working.

[2018-05-09 17:10] Tjzabel opened #134 "Add Computing Security Major Software"
We need to gather a comprehensive list of packages/programs used by the CSEC department. Please list the software used in comments below.

[2018-05-09 17:11] Tjzabel opened #135 "Add Computer Engineering Major Software"
There is currently no software section for the CE major. Please comment below a list of all packages/programs supported by linux.

[2018-05-09 20:44] Tjzabel commented on #108
@jflory7 Are you thinking more of a "Contact Us" header that points to the irc channel?

[2018-05-09 23:52] Tjzabel opened #137 "Update README"
# Summary

* This issue is a…
    * [ ] Bug report
    * [X] Feature request
    * [ ] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
The current state of the README only tailors towards developers who wish to get involved and build their own ISO. We need to cater towards our current audience and start the README with instructions on how to download the ISO, an

[2018-05-09 23:57] Tjzabel opened #138 "Upgrade to Fedora 28"

[2018-05-10 00:02] Tjzabel commented on #133
### Update

An email has been sent to the Gnome Software [mailing list](https://mail.gnome.org/mailman/listinfo/gnome-software-list). Currently awaiting response.

[2018-05-10 00:03] Tjzabel commented on #106
I'm wondering what specific goals you have in mind on how to accomplish this issue? What do you see wrong with the current contribution guidelines that you would like to update?

[2018-05-10 00:44] ct-martin commented on #137
I think we should just remove the instructions from the readme and put them in the wiki clearly

[2018-05-10 00:46] ct-martin commented on #138
To-do:
* [ ] Rebuild packages (inc. version numbers and putting on mirror)
* [ ] Bump version in build scripts & kick-starts
* [ ] Start ISO build and hide behind a table

[2018-05-14 23:57] gen1e commented on #137
Also I think the README should reference the wiki so people know to check there for info. I don't think it's explicitly in the README at all, most people know to check the README but I feel less think to check the GitHub wiki.

[2018-05-15 00:12] gen1e commented on #106
Maybe it could address how to get involved, like search for easy pick issues or if they should submit an issue before making a PR? That's the only thing I really see missing.

[2018-05-15 01:42] ct-martin commented on #106
I think Flory had some thoughts for this too?

On Mon, May 14, 2018, 8:12 PM Regina Locicero <notifications@github.com>
wrote:

[2018-05-15 02:26] Tjzabel commented on #138
At the moment, I've create an F28 branch with a version bump in the build scripts.

RPM package bumps will be done slowly over the coming week(s).

[2018-05-15 02:29] Tjzabel commented on #133
Response has been received! There seems to be a way through [here](https://blogs.gnome.org/hughsie/2016/04/27/3rd-party-fedora-repositories-and-appstream/) to get TigerOS repositories available in GNOME Software if the tigeros.repo is enabled.

[2018-05-16 02:53] Tjzabel opened #139 "Document Fedora Upgrade Process"
Currently we are upgrading to Fedora 28. However, we don't have a process on how to properly do this.

It would be nice if we had the documentation available to look at with each 6-month release cycle Fedora follows.

[2018-05-19 17:37] Tjzabel commented on #138
## Result

TigerOS 28 ISO creation succeeded! Closing this issue.

[2018-05-19 17:37] #138 closed

[2018-05-19 17:44] Tjzabel commented on #139
TigerOS 28 ISO build succeeded! Here's the process we followed:

1. Create fedora-# branch
1. Update build scripts to reflect wanted version
1. Go through each RPM package and update versions when necessary
1. Create new version directory on mirror
1. Sign new packages, upload to new mirror directory
1. Build ISO
1. Test ISO
1. If everything goes as planned, merge fedora-# branch to master!

[2018-05-19 17:50] Tjzabel commented on #137
In addition to all of these comments, I believe it would be helpful to show a general idea of what TigerOS is. To do this, I would like to have a summary of what makes TigerOS worthy of a remix, and also show off some of the screenshots we have.

The README should be an introduction for potential users, _not_ for prospective developers. However, we should have a developers section of the README at

[2018-05-19 17:53] Tjzabel commented on #127
With this issue, it may be time to move the fedora-28 branch into devel since the ISO build was successful. We would then delete all other branches, leaving `master` and `devel`.

[2018-05-19 19:15] ct-martin commented on #127
There's a branch with my docker testing which I think would be worthwhile
to keep, although I need to look to see which branch that was

On Sat, May 19, 2018, 1:54 PM Tim Zabel <notifications@github.com> wrote:

[2018-06-03 16:53] axk4545 commented on #127
@ct-martin looking at the branches and when they were last updated I think it is this one: https://github.com/RITlug/TigerOS/tree/nightly/build-scripts

[2018-06-23 01:11] Tjzabel commented on #45
Fix definitely works. Let me know if this is the image you would like to use:
![Lockscreen](https://imgur.com/pyzU0QA)

[2018-06-23 01:15] Tjzabel commented on #133
### Update
After a few attempts, it seems we cannot get any TigerOS RPM packages to show up in the Gnome Software center. A potential reason is because we do not have icons to go along with the packages. It is unsure if this is required, or just nice to have.

We will keep trying, but we may have to go along with our original plan of creating our own GTK installer.

[2018-06-23 01:17] Tjzabel commented on #92
Slowly, but surely, this issue is being worked on. Since 3rd party repositories are now a thing, PyCharm can now be installed through Gnome Software.

[2018-06-23 01:25] ct-martin commented on #45
@gen1e can we try to make something that doesn't overlap with the text as much?

[2018-06-23 01:28] Tjzabel commented on #45
@ct-martin this was my same thought. I am thinking of maybe having just the orange background without the TigerOS logo there? That way the text is visible, and when you log in the logo pops back up.

[2018-07-07 20:57] Tjzabel commented on #139
Blocked on #120

[2018-07-07 21:39] Tjzabel commented on #135
Pycharm, IntelliJ IDEA. CE seems to be a windows-centric major, so this may be hard to implement.

[2018-07-07 21:41] Tjzabel commented on #92
Pycharm, JFLAP, and logisim have all been added.

However, I am not sure what "add upgrade path" means

[2018-07-08 22:31] gen1e commented on #45
Some options, though I have thought about maybe designing a completely new lockscreen wallpaper. I've also been working out if I can get a mid wave Tiguin as an alternative for the left and right versions.

![lockscreen1_1-1920x1080](https://user-images.githubusercontent.com/15071353/42424607-9fdead42-82d4-11e8-87df-878d97e6e697.png)
![lockscreen1_2-1920x1080](https://user-images.githubusercontent

[2018-07-08 22:35] ct-martin commented on #45
@Tjzabel can you try to get these as screenshots on a VM lock screen? I think it'd be much easier to decide if we had a live sample

[2018-07-08 23:44] Tjzabel commented on #45
I like how the first version looks!

### Light
![updated-screensaver](https://user-images.githubusercontent.com/22552344/42425175-f77d21c0-82e6-11e8-937a-1d4f06b90a98.png)

### Dark
![updated-dark](https://user-images.githubusercontent.com/22552344/42425194-5033f348-82e7-11e8-8627-18eef28cb883.png)

[2018-07-09 01:02] ct-martin commented on #45
I like the first one as well. @Tjzabel - could you do the orange ones with
the tiguin "just because" so we can see?

[2018-07-10 21:02] justwheel commented on #135
Which major is CE? Computer Engineering?

[2018-07-10 22:49] ct-martin commented on #135
@jwflory yes

[2018-07-11 00:05] Tjzabel commented on #135
@jwflory yep! I should update the name to reflect this. I realized many people may not know what this major refers to.

[2018-07-23 00:09] ct-martin commented on #131
As a temporary fix for some of these issues (and to also have HTTPS), the TigerOS website is currently being hosted on the RITlug website at https://ritlug.com/tigeros

Ongoing work will be done to create a new TigerOS website that integrates the desired features, including HTTPS and the requests in #108, #120, #121, & #122.

[2018-07-26 13:29] Tjzabel commented on #131
@ct-martin thanks for the work! There are a ton of features that we can now work on implementing into the website (so many issues to fix/add!). Please let me know if there are any non-technical (I can't build a website) issues I can add into the website to lessen your load there.

[2018-07-28 19:35] Tjzabel commented on #45
## Orange Tiguin Lockscreen
![orange_right](https://user-images.githubusercontent.com/22552344/43359996-ac519da8-927b-11e8-991f-99ea7f7237fe.png)

## Dark Tiguin Lockscreen
![dark_left](https://user-images.githubusercontent.com/22552344/43360007-bf9c7e64-927b-11e8-985e-b0f05a9fd0ae.png)

[2018-07-28 21:00] gen1e commented on #45
Yea I would definitely just keep the Tiguin out of it, not thrilled how either looks, it just looks weird to me. The other two without the Tiguin look great tho.

[2018-08-14 02:04] Tjzabel commented on #45
Completed!

[2018-08-14 02:04] #45 closed

[2018-08-14 02:05] Tjzabel commented on #3
After talking with a few individuals at Flock this past week, I agree openqa would be the perfect candidate for this sort of thing

[2018-09-14 01:40] Tjzabel commented on #127
I will work with @ct-martin in order to integrate [my GitLab fork](https://gitlab.com/Tjzabel/TigerOS) into the main TigerOS repository. My fork is currently the latest stable version of TigerOS, and it is critical we add this soon back upstream so others can follow our progress.

[2018-09-14 20:37] ct-martin opened #140 "Fix mirrors cert"
Cert expired; let's encrypt is probably not on a Cron job

[2018-09-14 20:50] gen1e opened #141 "Make Licensing clear for the design assets in our README and Wiki"
# Summary

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [x] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Documentation fixes to make it clear the licensing for our design assets.

# Details

Currently we do not have the Creative Commons Licensing for the design assets clearly stated anywhere. I believe we should have a Licensing sec

[2018-09-15 15:40] axk4545 commented on #140
Sorry guys.

On Sep 14, 2018 4:37 PM, "Christian Martin" <notifications@github.com>
wrote:

Cert expired; let's encrypt is probably not on a Cron job

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/RITlug/TigerOS/issues/140>, or mute the thread
<https://github.com/notifications/unsubscribe-auth/ADUyLNAFiPg14WT

[2018-09-19 02:08] Tjzabel commented on #127
[This PR](https://github.com/RITlug/TigerOS/pull/142) makes the devel branch up to date, and will allow for the deletion of the fedora-28 branch.

[2018-09-19 02:11] Tjzabel commented on #127
@ct-martin I would like to delete the fedora-28, devel-f27, and nightly branches. Fedora-28 and devel-f27 seem to be able to be removed easily. You had said there are some docker changes you wanted to salvage in the nightly branches.

I know this is a busy week so let me know how things are going :+1:

[2018-09-28 20:31] Tjzabel opened #143 "Make licensing clear in all source files"
# Summary
Having the GPLv3 as our main license, it is strongly suggested to include the GPL header within each source file. As far as I know, we only include the license file within each directory, and not in the contained source files.

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [X] Other issue
    * [ ] Question
* **Describe the issue / feature in 1-2 sentences**:
Ti

[2018-09-28 20:34] axk4545 commented on #143
We should take care to ensure that the upstream things we use retain their
licences. The stuff from Fedora is a mix of MIT  and GPL IIRC.

On Fri, Sep 28, 2018, 4:31 PM Tim Zabel <notifications@github.com> wrote:

[2018-09-28 20:35] Tjzabel commented on #143
@axk4545 yep. I believe anything Fedora-related should already have the required licensing. This is more for source files *we* have created.

[2018-09-28 20:35] Tjzabel commented on #143
Anything upstream is not our problem, unless we decide to report it to them

[2018-09-28 20:39] axk4545 commented on #143
My comment was more about ensuring compatibility of licenses

On Sep 28, 2018 4:35 PM, "Tim Zabel" <notifications@github.com> wrote:

Anything upstream is not our problem, unless we decide to report it to them

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/RITlug/TigerOS/issues/143#issuecomment-425558358>, or mute
the threa

[2018-10-02 23:10] ct-martin commented on #104
@gen1e and I went through the photos of campus that I have and have a large collection not yet publicly available. @gen1e is actioned to the first round of editing (most photos are not 16:9 for example) and will check back in a couple weeks. We can figure out a specific deadline at the meeting tomorrow.

[2018-10-03 19:15] Tjzabel commented on #127
So, at this point this issue is almost complete.

I've made devel even with the F28 updates. Also, there now exists a `fedora-29` branch, which is also complete.

It is now up to @ct-martin if he wants to keep the nightly branches or not. I've added all the docker scripts into the [Fedora 29](https://github.com/RITlug/TigerOS/tree/fedora-29/build-scripts) branch.

[2018-10-03 19:17] Tjzabel commented on #66
I'm almost wondering if we want to remove this issue entirely. I don't see this as something the TigerOS team will be doing at any point in the next year. If this is truly something we want to do, we can reopen this issue.

@ct-martin thoughts?

[2018-10-03 19:18] Tjzabel commented on #140
@ct-martin this should be an immediate next priority. Packages cannot safely pull from the TigerOS mirror with a missing cert.

[2018-10-03 19:19] Tjzabel commented on #143
I will take up this issue within the next few days :+1:

[2018-10-03 19:33] Tjzabel commented on #29
I think this is going to take a lot longer than the Beta release to complete. Thoughts on moving this to the final release?

[2018-10-03 19:39] ct-martin commented on #66
@Tjzabel there are a couple other long-term goals in issues, we should discuss what we want to do with them in the meeting in 20 minutes

[2018-10-03 19:41] ct-martin commented on #29
@Tjzabel I'm not going to block the beta on it, but I would like to keep it on the beta milestone due to its importance

[2018-10-03 19:47] Tjzabel opened #144 "Upgrade to Fedora 29"
Fedora 29 is scheduled to come out late October. We should have a Fedora 29 release not long after.

Here are the steps we need to take to complete this task:

1. ~Create Fedora 29 branch~
2. ~Update all version variables to F29~
3. ~Create an F29 directory on the [TigerOS Mirror](https://mirrors.ritlug.com/TigerOS/)~
4. ~Upgrade all RPM packages to F29~
5. ~Sign all F29 packages and place on mirr

[2018-10-03 19:52] ct-martin commented on #140
The command in the cron job was for a different version of certbot, I have renewed the cert and updated the crontab

(cc @Tjzabel )

[2018-10-03 19:52] #140 closed, assigned to ct-martin

[2018-10-03 19:54] Tjzabel commented on #29
@ct-martin sounds good.

Also, it is probably a good idea to split this issue into smaller issues so it is much easier to track.
It would be a good idea to have an issue for updating the builder + mirror Ansible playbooks, an issue for the GitLab ISO CI, and an issue for the RPM building CI

[2018-10-03 19:56] ct-martin commented on #29
@Tjzabel I actually have a draft issue for updating the playbooks right now with some other stuff as well. I have a couple thoughts on how to split up the issue, let's talk about them in the meeting in a couple minutes

[2018-10-03 20:11] ct-martin commented on #144
29 folder created on mirror

[2018-10-03 20:14] ct-martin commented on #139
@Tjzabel please use the GitHub wiki and the content will be merged when the site is created

[2018-10-03 20:26] ct-martin commented on #92
Update from meeting:

* Most of this is done
* We're using the third-party repos that come with Fedora where possible
* WIP

[2018-10-03 20:26] ct-martin opened #145 "New infra playbooks"
The configuration on the mirror and builder has changed since we originally created the playbooks, and they need updating.

Among the changes needed are:
* [ ] We are no longer using Jenkins
* [ ] Installation and provisioning of Gitlab CI runner
  * Do we need to install Docker for this?
* [ ] Certbot's commands are different from the `cron` job and need updating (command is not `certbot-3` or at

[2018-10-03 20:28] ct-martin commented on #145
Ping @Tjzabel - please let me know if you have anything to add to this

[2018-10-03 20:37] ct-martin commented on #66
For if we look at later on: https://openbuildservice.org/

[2018-10-03 20:37] ct-martin commented on #66
Based on meeting, this isn't something we have bandwidth to consider as a possibility until after a final release and this issue is going to be closed.

[2018-10-03 20:37] #66 closed

[2018-10-03 20:38] ct-martin commented on #42
This issue is blocked until we have a working final release. This issue will be looked again as we approach said release

[2018-10-03 20:39] ct-martin commented on #3
This issue is blocked until CI has been set up

[2018-10-03 20:40] Tjzabel commented on #127
Completed :+1:

[2018-10-03 20:40] #127 closed

[2018-10-03 20:41] ct-martin commented on #99
Based on meeting, we don't have bandwidth to do this for the time being and this will be blocked until after we have a working first release.

[2018-10-03 20:44] ct-martin commented on #108
This is on the TigerOS page on the RITlug website, which will be used as a basis for the new website.

[2018-10-03 20:44] #108 closed

[2018-10-06 01:56] Tjzabel commented on #139
TigerOS upgrade process has been described in the [wiki](https://github.com/RITlug/TigerOS/wiki/TigerOS-Upgrade-Process) in the meantime, while the TigerOS website undergoes a redesign

[2018-10-06 01:56] #139 closed

[2018-10-07 21:24] Tjzabel commented on #29
Next steps are to do the write-up on how TigerOS CI is going to work. [Current draft](https://gitlab.com/Tjzabel/tigeros-scripts/issues/1) is located on my GitLab repo.

The goal is to implement CI on a single RPM package to make sure the process goes smoothly. Then, a TigerOS mirror will be set up on the GitLab public site, where we will be hosting CI on the builder, and possibly the mirror.

The

[2018-10-07 21:27] Tjzabel commented on #29
Furthermore, I have an [RPM CI script](https://github.com/RITlug/TigerOS/blob/fedora-29/build-scripts/rpm-scripts/build.sh) in the works to do the RPM building.

However, this is still a rough script, and needs to be ironed out in order to make the RPM building process fully automated. At the moment, the release version and package name need to be added as parameters to the script, which are not y

[2018-10-07 21:28] Tjzabel commented on #29
In addition, RPM CI and ISO CI are very different from one another, and so I believe these two CI issues should be separated to create a more easy-to-follow workflow.

[2018-10-07 22:17] ct-martin commented on #29
@Tjzabel could you clarify the following? I have no idea what your mean, and my best guess doesn't get close to what I had planned.

Also, I have access to the GitHub credentials now so I can proceed when I have time (probably next weekend)

[2018-10-08 13:46] Tjzabel commented on #29
@ct-martin If it helps, I also have no idea what I was trying to write there :smile:

I am going to update that comment now with what I *actually* meant to say.

[2018-10-08 13:48] Tjzabel commented on #29
@ct-martin actually, I *do* know what I was saying there.

Essentially, there will be a GitLab instance that is mirroring what the GitHub repo has, so when there is a change to the repo, the GitLab CI will pull the change and do the automation. Correct me if this line of thinking isn't what you had in mind.

[2018-10-08 14:52] ct-martin commented on #29
@Tjzabel ok, yes, that is what I had in mind. I was confused by "mirror" having multiple meanings. What do you think about using terminology along the lines of "TigerOS mirror" or "the mirror" for mirrors.ritlug.com (to maintain backwards-compatibility in terminology) and "GitLab repo mirror" for the GitLab CI/CD for external repositories? Wording doesn't have to be exact.

Thanks for the clarific

[2018-10-08 14:55] Tjzabel commented on #29
@ct-martin I got the same confusion when I re-read my own comment.

I definitely think it is a good idea to create uniform terminology when referring to the different parts. Even GitLab mirror is enough imo, and TigerOS mirror for the packages mirror.

[2018-10-08 14:59] ct-martin commented on #29
@Tjzabel I think it would be a good idea to use "GitLab repo mirror" (with "repo") since GitLab Runner will be automating things on the mirror soon. I'll file an issue to start a glossary and we can discuss on Wednesday

[2018-10-08 15:09] ct-martin opened #146 "Create a glossary"
The terminology used by TigerOS is not small, and some words have started to have multiple meanings (namely "mirror" for both the GitLab repo mirrors and the package/ISO mirror). Additionally, there are a number of terms (such as "LMC/Live Media Creator," "Lorax," "kickstart," and "Anaconda") that would be unfamiliar to new contributors unless they've worked with the Fedora ISO-building tools befo

[2018-10-08 17:27] justwheel commented on #146
This is a great idea. :+1:

[2018-10-10 19:20] ct-martin commented on #29
As per meeting we have decided to do Continuous Delivery to a new development mirror based on the `devel` branches of the respective repos. This means that for `devel` builds instead of getting put into a queueing folder, they will be signed and put straight on a development mirror separate from the current one. This will also require standardizing branch protection, which I will figure out and do

[2018-10-10 19:36] ct-martin commented on #131
Notes to self:

  * [ ] Looks pretty
  * [ ] Has download links
  * [ ] About page
  * [ ] Functionality for docs
    * [ ] User docs
    * [ ] Dev docs

[2018-10-12 20:55] ct-martin commented on #29
I have installed GitLab Runner on the builder, will set up the pipelines another time.

[2018-10-17 17:29] Tjzabel commented on #144
### Update
I have been very busy the past few weeks, and so I apologize for not getting much progress done with this issue.

I am still working locally on converting all packages over to F29. The main hurdle isn't doing the package upgrades, but figuring out ways to do this process via our CI.

If you would like, I can simply upgrade all these packages without trying to figure out any CI, so that

[2018-10-17 17:30] Tjzabel commented on #143
### Update

This issue is part of #144. As I am going through each RPM package, I am looking at the source files if they are present, and making sure there are license headers within each of the files.

[2018-10-17 17:31] Tjzabel commented on #137
I am blocking this issue on the new website being completed, so we know where we stand on documentation and what we need to add into the README.

[2018-10-17 17:32] Tjzabel commented on #104
@gen1e @ct-martin has any progress been made here?

[2018-10-17 19:40] ct-martin commented on #144
For the sake of building, please upload them to the signing folder on the
builder. If you have a draft .gitlab_ci.yml file I can test it with CI
and/or tweak a bit to match the new process.

--
Christian Martin (Phone)

On Wed, Oct 17, 2018, 1:51 PM Tim Zabel <notifications@github.com> wrote:

[2018-10-17 20:04] Tjzabel commented on #144
@ct-martin sounds good. I'll forgo working on the CI and just get the packages updated.

[2018-10-18 00:48] Tjzabel commented on #143
### GPLv3 Source Header
[code]
@ct-martin @axk4545 please let me know if you are okay with adding this license header to all created source code.

[2018-10-18 00:57] ct-martin commented on #143
@Tjzabel that looks good to me. I'm more concerned about the repackaged software and backgrounds personally since their licenses are mixed. Part of this issue was also that after the repos got split up the new repos didn't all get labeled clearly, which a normal license file can fix too. Both this and license files are good to me.

[2018-10-18 01:06] Tjzabel commented on #143
@ct-martin thanks for the feedback.

Regardless, we still need(ed) license headers within our own source files as well. I'm currently in the process of doing this as I go along.

[2018-10-25 17:59] Tjzabel commented on #144
So, final update.

There are 2-3 more packages that need updating. The goal is to have the Fedora 29 upgrade process done by the end of this weekend.

I had totally forgotten we were going for an end-of-October beta release :-)

[2018-10-25 18:01] Tjzabel commented on #143
### Update
This process is just about complete. As I've been going through and updating all of our RPM packages, I've taken the liberty to add license headers to all source code that needed it. I don't think there is anything we can possibly do for the repackaged software. The `License:` tag in the spec files are the same license the repackaged software is under, so I'm leaving it at that.

[2018-10-25 18:02] Tjzabel commented on #133
At this point, I've pretty much given up on this aspect. I am going to leave this up for a little longer, but I feel we may end up just closing this issue.

I think doing our own packager GUI is the only way to go at this point for what we wish to accomplish.

[2018-10-25 18:05] Tjzabel commented on #92
### Update
So, this is essentially done. I've gone through and updated the source files, and added what I can as dnf packages.
This issue will be getting another major update once the software packager gets developed, as I will be moving the packages around based on what works best for achieving the best work flow.

[2018-10-25 18:06] Tjzabel commented on #92
The only thing I can think of to improve this process, is move away from the `getopt` in the postinstall script, and instead create individual scripts for each of the majors. This would simplify the layout of the postinstall script, and allow for a little more modularity.

@ct-martin @jibby0 thoughts?

[2018-10-25 18:09] Tjzabel commented on #137
As a side note, it would be a good idea to merge the [UI Tweaks](https://github.com/RITlug/tigeros-ui-tweaks/blob/master/README.md) README into the overall TigerOS README. That way, users can get a much better idea right off the bat what TigerOS looks like.

[2018-10-25 19:56] ct-martin commented on #133
I found some other docs I'm going to try when do the mirrors too. But yeah,
this is proving annoying.

--
Christian Martin (Phone)

On Thu, Oct 25, 2018, 2:03 PM Tim Zabel <notifications@github.com> wrote:

[2018-10-25 19:57] ct-martin commented on #143
@Tjzabel just to double-triple-check you got looped in, @gen1e and I need to talk about backgrounds before this issue can be closed

[2018-10-25 20:00] Tjzabel commented on #143
@ct-martin this issue is for source code.

Backgrounds is part of #141 is what I understand.

[2018-10-25 20:11] ct-martin commented on #143
@Tjzabel that issue was for docs, but if you want to adjust the scopes and close this issue then go ahead

[2018-10-26 08:29] justwheel commented on #144
Spook-tacular! :bat: :jack_o_lantern: :candy:

[2018-10-29 01:24] Tjzabel commented on #144
### Update
All packages have been upgraded to Fedora 29, except for the `tigeros-repkg-logisim` package.
There seems to be an issue with a download file, and the build process fails. This may be an issue with the actual package itself, and will need to be looked into.

[2018-10-29 01:26] Tjzabel commented on #143
### Update
As I've gone through updating all the packages to Fedora 29, I've looked at and updated all scripts to include their proper licensing where applicable.

I am leaving this issue open until all packages are signed and uploaded to the mirror, and all RPM package repositories are cleaned up. Currently, the repositories are dirty and updates have not been pushed to GitHub.

[2018-10-29 15:29] Tjzabel opened #147 "Make sure Dockerfiles work as intended"
The RPM and ISO building Dockerfiles were added into this repository, but have not been properly tested.

Before we can make use of docker to help with the CI, we need to test docker manually.
I believe there is still a small issue with the ISO Dockerfile (I have the issue logged somewhere) before it can work as expected.

RPM Dockerfile *should* be working, but needs to be further tested.

[2018-10-31 00:32] Tjzabel commented on #144
All packages upgraded to F29!

Current work to be done is to sign all packages, put them on F29 dir on mirror, and do ISO build :+1:

[2018-10-31 00:33] Tjzabel commented on #143
This has been taken care of after doing the F29 build in all packages.

[2018-10-31 14:22] Tjzabel commented on #92
### Conclusion
At this point in time, I feel the tigeros-scripts package is as up-to-date as it can be.

I am going to close this issue and open another one with the consideration to look into splitting the postinstall script into one script per major to allow for a little more modularity.

[2018-10-31 14:24] Tjzabel commented on #29
This is no longer in scope for a beta release.

[2018-10-31 19:42] Tjzabel commented on #143
### Reopening Issue
Although scripts packages have been updated, the core portion of this issue has not yet been addressed.

### Next Steps
The goal of the scripts package is to be able to install all tigeros packages through dnf. So, for `tigeros-repkg-jflap`, we should be able to install with `dnf install`.

@ct-martin is going to update this issue with a more proper name to reflect these change

[2018-10-31 19:47] Tjzabel commented on #120
### Update
The goal of this issue is to move the TigerOS website out of the current master branch. We have created a standalone TigerOS Website repo to host the new website once it is developed.

#### Why?
GitHub pages works off of the master branch, and is not a great location for a continuously-developed website to be hosted out of the "stable" branch. Separating the website from the core TigerO

[2018-10-31 20:02] #143 closed, assigned to Tjzabel

[2018-10-31 20:04] Tjzabel commented on #92
### Reopening Issue
Although scripts packages have been updated, the core portion of this issue has not yet been addressed.

### Next Steps
The goal of the scripts package is to be able to install all tigeros packages through dnf. So, for `tigeros-repkg-jflap`, we should be able to install with `dnf install`.

@ct-martin is going to update this issue with a more proper name to reflect these change

[2018-11-06 01:28] Tjzabel commented on #144
All packages are on the [F29 mirror](https://mirrors.ritlug.com/TigerOS/29/packages/x86_64/).
We're all set to go with building the F29 ISO.

As an added challenge, I'm doing the ISO build with the new Dockerfile we have.

[2018-11-06 01:30] Tjzabel commented on #144
We had an issue with the GPG key we created for the F29 release, but everything looks all good now. Current plans are to have the latest ISO build done tonight.

[2018-11-06 01:33] Tjzabel commented on #29
### Update
Currently testing out the ISO-building Dockerfile in order to build the F29 ISO.
We will be one step closer to adding build automation if this succeeds :+1:

[2018-11-07 18:48] Tjzabel commented on #147
### Update
ISO Dockerfile works *almost* as expected. There is a seemingly small issue at the very end of the ISO building process that makes the process fail.

At this point, since we know the ISO Dockerfile is for the most part working, I am going to hold off on further ISO testing until we have TigerOS 29 up and running.

[2018-11-07 18:50] Tjzabel commented on #144
### Update
Currently, we are on the "test build" stage. The ISO has been built successfully, and now it is time to test the new changes.

At this time, there are some big/odd issues with TigerOS, so we will most likely be circling between ISO building and testing for a while.

[2018-11-08 00:45] Tjzabel opened #148 "Current TigerOS 29 Bugs"
This issue is a place to host all known TigerOS 29 bugs.

## Known Issues
* Postinstall starts upon livecd
* Anaconda installer does not show up (see update below)
* Dash to dock may or may not be showing (see update below)

[2018-11-08 16:04] Tjzabel opened #149 "Rework TigerOS Kickstart"
## Overview
After researching kickstart files, it seems there is a possibility our kickstart is unnecessarily "bloated" and can be trimmed down. Furthermore, it seems there have been some changes since Fedora 28 that we may wish to add in/remove from our kickstart file.

### Reasoning
At the moment, our kickstart does not support copr repositories. It would be a good idea to look into this issue t

[2018-11-12 02:51] Tjzabel commented on #148
## Dash to dock issues
It seems the dash to dock package throws an error when installing from the RPM package. This can't be replicated on my system running stock Fedora 29, so I'm not too sure at this point where this issue is stemming from.

As a further source of confusion, dash to dock installs perfectly fine when installing from source. However, I can't seem to get the dock tweaks to go throu

[2018-11-12 02:53] Tjzabel commented on #148
## Postinstall Issues
At this point, there are a few fixes that can be done for this.
One, would be to simply check if the `livecd` user is active. If so, then we skip running the postinstaller. This would be the quickest fix, if not a slight hack.

[2018-11-12 02:54] Tjzabel commented on #148
With these issues being said, I'm not too sure if these block on the beta release or not. This *is* a beta after all. However, I don't want to be throwing a release out there if a lot of the core UI features aren't there.

[2018-11-12 02:55] Tjzabel commented on #144
### Further Update
Build has been tested! At this time, everything seems to be working well, *except* for the dash to dock package, which doesn't seem to be installing correctly.
I still need to discuss with others as to whether or not this should block on the beta release or not.

[2018-11-25 02:56] Tjzabel commented on #148
## Anaconda Installer Issues
It seems to be a recurring event that the anaconda installer fails to show. Instead, there is either a black screen, or no screen, that shows up when clicking "Install to Hard Drive."

[2019-02-06 16:29] Tjzabel opened #150 "Consider Staying on Fedora 28"
# Dilemma
Due to many issues with the F28 --> F29 upgrade process, it may make sense to stay on F28, iron out all our current issues, and *then* move over to F29. This would allow for a more streamlined process during the transition. Currently, there are a few issues that need to be ironed out on the F28 side of things.

# Pros and Cons of Choices

## Staying on F28

### Pros
* This would allow us

[2019-02-06 17:06] ct-martin commented on #150
Given that F30 will [release late April or early May](https://fedoraproject.org/wiki/Releases/30/Schedule) and at that point F28 will be EOL, I'm not sure how much of a choice we have. This is unfortunately a downside of Fedora's fast release schedule.

It may make sense to split efforts and have package dev continue on F28 but have some people working on F29. We can talk about more in a meeting.

[2019-02-18 01:57] Tjzabel commented on #150
Hmm, so at this point, we are going to stick with our Fedora 29 goal.

Currently, on F28, everything is working except for minor UI issues. The purpose of this issue was to possibly stay on F28 in order to fix all issues *before* going over to F29. However, since just about all issues except for very minor ones are fixed on F28, I think it is time to start thinking about an F29 sprint.

With that

[2019-02-18 01:57] #150 closed, assigned to Tjzabel, ct-martin

[2019-06-13 01:33] Tjzabel opened #151 "Consider moving to GitLab for future development"
# What this is
At this point in TigerOS's development, we have come to a standstill. Previously, we have discussed moving to GitLab CI to handle all of our CI/CD needs. Personally, I still believe this is this best method forward. It would be great to move to a fully open-source solution for git hosting.

# Pros
* Some of the best CI/CD currently
* Better fine-tuning with a hosted git solution
* A

[2019-06-13 01:40] Tjzabel opened #152 "Create roadmap for future development"
# What This Issue Hopes to Accomplish
Currently, TigerOS's future is pretty flaky. I would love to be able to sit down and come up with a project roadmap for the upcoming summer/months. Then, we can break down our roadmap into actionable items to work on.

[2019-06-13 01:42] Tjzabel commented on #148
At this point, I am fully skipping over Fedora 29, and moving directly into Fedora 30. The current plan is to "start from scratch" and create a new kickstart file to remove any "legacy" issues we have been having. Hopefully starting anew will help remove any issues we have currently been having from the F28 -> F29 upgrade process.

[2019-06-13 01:42] Tjzabel commented on #144
Closing due to skipping F29.

[2019-06-13 01:42] #144 closed, assigned to Tjzabel, ct-martin

[2019-06-13 01:43] Tjzabel commented on #133
We should look into this issue one more time before working on a self-made solution.

[2019-06-13 01:45] Tjzabel commented on #148
Currently skipping Fedora 29, but I am going to leave this issue open so we can check against known F29 bugs as we do the F30 upgrade.

[2019-06-13 01:46] Tjzabel commented on #122
This is pretty high priority for me. I'm not even sure it would take much effort.

[2019-06-13 20:23] Tjzabel commented on #151
It is also worth noting that, should we move to GitLab, we have the ability to mirror to GitHub, which would eliminate the project visibility aspect.

[2019-06-13 21:05] nlMeminger commented on #151
If you could map out how the move would work and how we would maintain the mirror on GitHub, I would be on board with this idea.

[2019-06-13 21:14] Tjzabel commented on #151
@nlMeminger Of course.

At the moment, it actually looks like we may be moving to Gitlab.com proper, instead of our hosted git.ritlug.com instance.

I'm still thinking of the pure pros/cons against putting TigerOS on our hosted instance, but nonetheless, I will be putting together a gameplan on what a move would look like.

[2019-06-13 21:25] nlMeminger commented on #151
Why would we move to gitlab proper instead of our instance?

[2019-06-13 21:26] Tjzabel commented on #151
We can discuss that later.

[2019-06-14 00:13] Tjzabel commented on #151
Moving to git.ritlug.com !

[2019-06-14 00:13] #151 closed, assigned to nobody

[2019-06-14 00:16] Tjzabel opened #153 "Move to RITlug GitLab Roadmap"
# What This Is
This issue is where we are going to create our roadmap for what is needed to be done in order to successfully migrate TigerOS over to git.ritlug.com

[2019-06-14 00:19] Tjzabel opened #154 "Create TeleIRC Bridge for Telegram and IRC"
This issue isn't directly related to our GitLab migration, but is something that I would like to do at the same time as our move.

Creating an effective communication platform where the TigerOS developers and community can communicate to each other is very important to us moving forward. So, I would like to create:

1. Telegram TigerOS group
2. TeleIRC bot for Telegram <=> IRC

[2019-06-14 00:30] Tjzabel commented on #153
# GitHub => GitLab Migration List
- [x] Upgrade hosted GitLab
- [x] Create TigerOS group
- [x] Set mirroring up on GitLab, to pull from GitHub
- [x] Once initial mirror takes place, remove mirroring
- [x] Migrate all GitHub issues over to GitLab
- [x] Add current GitHub contributors as contributors to GitLab project, as applicable
- [x] Set correct permissions for current contributors
- [x] Set mi

[2019-06-14 01:42] Tjzabel commented on #153
As I've gone through some of these checkpoints:

* Doing repository mirroring from GitHub => GitLab apparently isn't a feature in hosted gitlab-ce, so I simply pushed the branches over myself. Simple enough.
* We will also need to move over all of our packages
* *We can download all our issues as a CSV and upload them to GitLab*

[2019-06-14 15:28] nlMeminger commented on #152
I think in order to properly plan where we want to take this project, we will need to establish a base line for where we're starting with the current state of the project.  Do we want to take what we have and continue to develope on it? Or do we want to more or less start from scratch?  Knowing where we are will help us determine where we are going.

[2019-06-14 15:51] Tjzabel commented on #152
@nlMeminger We're planning on starting mostly from scratch with the kickstarts and build scripts. Our goals are still essentially the same.

[2019-06-14 15:52] Tjzabel commented on #152
But yes, we are definitely going to take what we have and continue with it. There's no reason to start from scratch, if you mean creating all new repositories.

[2019-06-14 17:04] nlMeminger commented on #154
We now have a telegram group called TigerOS

[2019-06-19 23:28] ct-martin commented on #42
Not happening in the foreseeable future, or at least this academic year

[2019-06-19 23:28] #42 closed

[2019-06-20 00:00] ct-martin commented on #152
@Tjzabel & I are working on having a call to triage.

Here is my list of items that need to be done, organized by priority to me (as project lead). As far as I'm aware I've addressed every open issue about TigerOS in any RITlug repo. Please let me know if I didn't address anything.

## Immediate priority (critical/high/do first)
* [ ] Redo the kickstart (#149 )
  * Go straight to Fedora 30
  * Ok

[2019-06-28 00:08] ct-martin opened #155 "Leadership transition"
As part of my offboarding as project coordinator (RITlug/tasks#124), I'm handing off TigerOS Lead to @Tjzabel. Anywhere relevant my info should be updated to say former lead and Tim should be marked as the current lead.

[2019-07-10 17:34] Tjzabel commented on #155
I'm going to close this as complete on the GitLab side of things.

[2019-07-10 17:34] #155 closed, assigned to Tjzabel

[2019-07-10 17:37] Tjzabel commented on #154
Done!

[2019-07-10 17:37] #154 closed, assigned to Tjzabel

[2019-07-10 18:02] Tjzabel commented on #148
Skipping F29. Closing.

[2019-07-10 18:02] #148 closed, assigned to nobody

[2019-07-10 18:02] Tjzabel commented on #137
This is essentially done (on GitLab's side).

[2019-07-10 18:02] #137 closed

[2019-07-10 18:04] Tjzabel commented on #121
TigerOS is currently a part of the main RITlug website. Closing as currently infeasible.

[2019-07-10 18:04] #121 closed

[2019-07-10 18:07] #134 closed

[2019-07-10 18:07] #135 closed

[2019-07-10 18:11] Tjzabel commented on #55
Closing as not being worked on now. Current goal is integrating with GNOME Software. If this is not possible, I would like to look at adding a patch to allow the capability before we fully decide to go off on our own.

[2019-07-10 18:11] #55 closed

[2019-07-31 04:07] Tjzabel commented on #149
This has essentially been completed.

[2019-07-31 04:07] #149 closed, assigned to Tjzabel

[2019-07-31 04:18] Tjzabel commented on #153
Going to close this as complete.

[2019-07-31 04:18] #153 closed, assigned to Tjzabel

[2020-03-05 22:35] #141 closed, assigned to gen1e

[2021-05-27 12:21] sudo-give-me-coffee opened #157 "About the current stage of development"
# Summary

* This issue is a…
    * [ ] Bug report
    * [ ] Feature request
    * [ ] Other issue
    * [x] Question
* **Describe the issue / feature in 1-2 sentences**:

Is it in active development or has it been discontinued?

[2021-06-02 16:33] Tjzabel commented on #157
TigerOS is not currently in active development as of a year or so ago. Small contributions happen every once in a while, but for the moment this project is not actively being worked on.

[2021-07-06 19:09] #157 closed, assigned to nobody

[2022-06-22 07:25] Rtoax commented on #58
I got

[code]